[2015-04-23 18:42] TPolzer opened #2 "Testing does not work with submodule as intended"
Pulling in the test repository as a submodule does not work, because it only links the repository but does not create a new one. Please test on a _clean_ checkout of master.

I really think the data should just be copied.

@uv48uson do you want to fix this?

[2015-04-23 19:42] uv48uson commented on #2
I cant really follow your discription. For me it works fine. On top of this in the pom file i specified that the whole data from TestRepository should be copied to the new directory. So linking is no option.

[2015-04-23 21:43] TPolzer commented on #2
Please think about what you are doing:
What you specified in the pom file was redundant, maven copies all resources by default.
If you _properly_ checkout this repository (amos-ss15-proj3) and its submodule(s) then the .git file in the TestRepository will look like this:
[code]
This is not something you can call jgit on (I think), and you can definitly not treat this _text_ file as a directory (as

[2015-04-23 21:59] uv48uson commented on #2
no this modification in the pom file wasnt redundant because before the .git folder was not copied because it is hidden. so calling jgit on it should work. i dont really got what u wanted to tell me with this path. since im accessing via the getResource method the path should look like this `${localrepo}/target/test-classes/Testrepo` and there will be a .git in there

[2015-04-23 22:04] TPolzer commented on #2
Please execute (in a clean directory):
[code]
The expected result is that all tests pass. That was never the case (and still is not). And yes, hidden files are copied by maven.

[2015-04-24 14:44] TPolzer commented on #2
Honestly, I'll just fix this myself.

[2015-04-24 16:23] #2 closed

[2015-04-25 16:30] TPolzer opened #3 "apache commons io"
Is there any reason why we are using a _really_ old (possibly buggy) version of the commons io library?

[2015-04-25 17:03] gayathery commented on #3
@Florian if you have no issues in upgrading the commons io,  we would providebaby fix this.

[2015-04-27 13:36] TPolzer opened #5 "Testing requirements"
I just stumbled over the section "3.2 Testing requirements" in the wiki.
My problem here is that it makes no sense to me, because all it does on the master branch is duplicate tests so they are carried out twice when testing. This was the reason I removed them earlier (without looking at the wiki as I should have...).
In general all tests should always pass on the master branch, so I see no reason

[2015-04-27 13:39] TPolzer commented on #3
@gayathery the way you used the @ tag notified somebody unrelated, you have to use github usernames, i.e. @uv48uson.

[2015-04-27 14:54] TPolzer opened #6 "VcsController purpose?"
Do we really need all that stuff in the class VcsController? It looks like a factory for VcsClients to me (with a lot of boilerplate), so in consequence I think it should only consist of a (potentially overloaded) factory method.

[2015-04-27 16:44] yadimon commented on #6
i wondered about it yesterday too.
i think Gayathery can explain what she planned fot the class. Maybe its not relevant already.

[2015-04-27 18:12] gayathery commented on #6
VcsController is class just to provide a level of abstraction to handle multiple Vcs systems. It is just to provide extensibility to the functionality. It can also be useful (ofcourse by adding more functionality to this class) to handle multiple sessions if we plan to host the implementation as a service

[2015-04-27 18:28] TPolzer commented on #6
That abstraction is already provided by the implementation of the VcsClient interface.
I think what you want to do would be best served by having VcsClient be an abstract class with a factory method.

[2015-04-27 18:36] gayathery commented on #6
i accept that Factory method will provides the same solution...But in that case any additional functionality (like session handling) in the future needs one more layer which can be avoided if we have this controller. Another situation would be when we need to aggregate data from multiple Vcs. From a normal perspective, i do not find any problem in having this class. it neither creates any problem

[2015-04-28 06:16] #3 closed

[2015-04-30 08:24] uv48uson opened #8 "CSV Parser"
If anyone needs the CSV Parser i wrote in PublicTestData, please inform me. Otherwise i would clean up the code soon.
I seperatly contacted Taleh and Rajab for this, because i thought this might only be interesting for their user story. So i assume that nobody else needs it at the moment. Please inform me otherwise.

[2015-04-30 10:12] GnuTalux commented on #8
I think, I could use them. You can delete the code, because I have my own copy in my branch.
I would move your CSVParseraClass into pckage parser. Do you think, this is possible?

[2015-04-30 10:33] uv48uson commented on #8
Ok well. I think you might make both so that there is an consistent
state. Just move the code u need to your package and delete the code
from PublicTestData.
Thanks
Flo

Am 30.04.2015 um 12:12 schrieb Taleh Didover:

[2015-04-30 11:26] uv48uson opened #9 "Individual Maven Test Error"
Hey guys,
After i set up my project once again. I can use the maven option right now. Nevertheless i'm still recieving Errors by running the Tests. I tried to set up everthing clean in new project. Nevertheless the error occures. If anyone knows how to fix this i would really be glad for any help.
Here is the Output from 'mvn test'
[code]
I never touched anything, beside the fact that it seems lik

[2015-04-30 11:39] gayathery commented on #9
I too get the same problem...when tests are run individually as Junit tests, there is no problem but the maven tests are failing for me too

[2015-04-30 11:41] #5 closed

[2015-04-30 11:41] uv48uson commented on #5
I updated the wiki to the current code state.

[2015-04-30 12:42] uv48uson opened #10 ""Collection" Return Values"
Hey Gayathery,
is there any reason for the return type of `public ArrayList<CommitFile> getCommitFiles(String commitID)` is a ArrayList, while the return type of all other methods here are Iterables?
It's not really a problem but if there is no reason it might be better to have a common return type.

[2015-04-30 12:51] uv48uson commented on #10
or maybe all return types could be lists!? beause we are anywy handling lists in the using classes, so it would be more convenient.

[2015-04-30 12:53] uv48uson commented on #9
Actually for me both are failing ...

[2015-04-30 15:33] TPolzer commented on #9
Are you by chance both using Windows? Maybe there is something not working there, for me (Linux) it "just works", the same as in Travis (also Linux).

[2015-04-30 15:35] TPolzer commented on #10
Iterators look reasonable as long as the actual values are generated on the fly.
If all contents are created before a method returns, I think Iterable or Collection would be most appropriate.

[2015-04-30 15:35] gayathery commented on #9
Thats a good point Tobiaz... I am running it in windows ... let me investigate now with your input

[2015-04-30 15:43] gayathery commented on #10
It is now a list because there is a need to aggregate (add items to list )and manipulate the returned list. That is why only this method return type is changed from iterator to list

[2015-04-30 15:55] TPolzer commented on #10
Where does this manipulation take place, I cannot see it?

[2015-04-30 15:57] gayathery commented on #10
this manipulation will take place in future when we combine data from git and from the database where we will be maintaining additional linkages

[2015-04-30 16:00] TPolzer commented on #10
But CommitFile objects are modifications, we are not adding anything like this from the database.

[2015-04-30 16:04] TPolzer commented on #10
And even if you wanted to aggregate, this is exactly the situation where an Iterator that generates elements on the fly makes sense, as opposed to a Collection.

[2015-04-30 16:12] gayathery commented on #10
For example if you see in getCommitFilesForRequirementID the following code
ArrayList<CommitFile> commitFilesList = new ArrayList<CommitFile>();

     	Iterator<String> commits = vcsController.getCommitList();

     	commitMessageparser = new GitCommitMessageParser();

     	while(commits.hasNext()){

     		String currentCommit = commits.next();

     		if(commitMessageparser.parse(vcsController.

[2015-04-30 18:45] TPolzer commented on #10
I misunderstood you, I thought you wanted to have a streaming solution. If you want to do it the way you posted, Collection is really the return type of choice (everywhere):
[code]
If on the other hand you want a true streaming solution, I think Iterable would be more suited.
[code]
Personally I would prefer the first approach right now, because it seems more convenient and as long as the whole Co

[2015-04-30 19:01] gayathery commented on #10
Yeah I accept it and I will modify it. Thanks

[2015-04-30 19:05] gayathery commented on #10
Now I have a question. . If collection is returned user will know what way it is internally implemented. For example whether a ordered or unordered data structure... isn't it?

[2015-04-30 19:42] TPolzer commented on #10
What exactly do you mean by "ordered", something like a [SortedSet](https://docs.oracle.com/javase/7/docs/api/java/util/SortedSet.html)?

[2015-05-01 10:54] TPolzer commented on #10
Apart from that (and its Map counterpart) the only other containers that explicitly expose information about their ordering are the explicitly unordered containers (e.g. HashSet), but neither is appropriate here I think. Instead the documentation should make clear what the valid assumptions about the order of CommitFiles in the Collection are (what are they actually - I cannot see any guarantees i

[2015-05-01 11:28] TPolzer opened #11 "x-artifacts?"
Why are some parts of the source code in this separate folder, which is not built or tested with the rest of the maven build? And why is it called x-artifacts? IMHO the images belong into /src/main/resources and the source files into /src/main/java. The jar should not be in the repository at all.

[2015-05-01 14:51] uv48uson commented on #11
This source code is only there because Gayathery wanted it to hand-over to me. Dont worry i'll integrate it during my user story.

[2015-05-01 21:32] GnuTalux opened #12 "Abstraction for "The Relataion between Req-ID and Commit-ID""
Hi Team,

we have discussed about the need of an abstract for "The Relation between Req-ID and Commit-ID" at the last meeting.
@yadimon: Did you want to implement something like this in respect to my interface "ReqCommitRelation..." (in branch "Req-13..")?

Currently their is that parser class/interfaces called "CommitMessageParser" and "Git...Parser".
(I understand, that "GitCommitMessageParser"

[2015-05-02 10:57] uv48uson opened #13 "Req-11 missing"
Hey Katja and Lukas,
I cant find requirement 11. Neither in the Product Backlog, the Sprint Backlog nor in the Feature Archive. Is this on purpose?

[2015-05-02 11:00] akaTJ commented on #13
thanks for the information. this must have happened when we deleted US-11 and forgot to introduce number 11 back again! i will clean the document by Tuesday!

[2015-05-02 11:44] uv48uson opened #14 "Req-17 GUI Task"
Hey,
Here is a task i assigned to you. This is not much work (probably less then 5 lines).

As u might know im working on the gui. Therefore i need to integrate every user story. Nevertheless u are the one who knows the best how to call the stuff from your user story. So i designed one method in Class ```DataRetriever``` which is responsible for ur user story (in your case there are two methods).

[2015-05-02 11:47] uv48uson opened #15 "Req-17 GUI Task"
Hey,
Here is a task i assigned to you. This is not much work (probably less then 5 lines).

As u might know im working on the gui. Therefore i need to integrate every user story. Nevertheless u are the one who knows the best how to call the stuff from your user story. So i designed one method in Class ```DataRetriever``` which is responsible for ur user story .
Please just fill the method with ur

[2015-05-02 12:01] uv48uson opened #16 "Req-17 GUI Task"
Hey,
Here is a task i assigned to you. This is not much work (probably less then 5 lines).

As u might know im working on the gui. Therefore i need to integrate every user story. Nevertheless u are the one who knows the best how to call the stuff from your user story. So i designed one method in Class ```DataRetriever``` which is responsible for ur user story .
Please just fill the method with ur

[2015-05-02 12:53] TPolzer commented on #12
[code]
should really be
[code]
since we do not need anything but the ability to iterate over the requirements associated with one commit (The ability to have lookups does not matter for a single commit, because the list is small and for a number of commits we have to aggregate anyway).

With the same reasoning the `Set<String>` in `addFurtherDependency` should also just be `Iterable<String>`, alth

[2015-05-02 14:36] GnuTalux commented on #12
To be honest, currently I am not using the "Get"-Method.  I could just remove it :smile:

I thing, it sounds reasonable to change """Set"" by """Iterable""".

[2015-05-02 14:36] #8 closed

[2015-05-02 14:39] GnuTalux commented on #14
Is it ok, to change Datatype of "requirementID" from "String" to "Integer"?

As TPolzer suggested in an other issue, should we use here "Iterable<String>" instead of "ArrayList<String>"?

[2015-05-02 14:45] GnuTalux commented on #14
But at the other hand, "Set" guarantees each element occurs at  most 1 time

[2015-05-02 14:46] GnuTalux commented on #12
@TPolzer I remember, why I used "Set"... to guarantee, that all elements occur at most 1 time.

[2015-05-02 14:50] GnuTalux commented on #12
I think, we need the ability to iterate over all commits for given requirement, too.

I would change the interfaces to:
[code]

[2015-05-02 15:34] TPolzer commented on #12
We definitly need both set and get methods, I just wanted to argue that they do not belong in the same interface.

[2015-05-02 17:00] yadimon commented on #6
the problem now we have to write anything twice. once VcsClient one Controller...
Things like sessions would come later, and if it comes, we have higher abstraction, like tracker, or maybe ui in the future.
i would refactor it to just a factory for our special GIT client. Is it ok?

[2015-05-02 17:32] yadimon commented on #9
for info for me worked all well on windows.
i did:
installed java JDK 1.8
http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html
installed maven 3.3 for windows
http://apache.mirror.digionline.de/maven/maven-3/3.3.3/source/apache-maven-3.3.3-src.zip

set path variable to maven (e.g. C:\apache-maven-3.3.3\bin, depends where you extracted it)
set JAVA_HOME to my JDK inst

[2015-05-02 18:03] yadimon commented on #12
i think the set/add and get is the same DATA class, so we can switch to sql/orm/whatever by 1 (sub)class
but maybe we need some more higherlvl interfaces, like this one here, for just query the req-commit relation, and nothing else.
BUT!
things like data from commit messages, must be parsed before, and loaded to our database.
no project in the real world will contain requirements by commit message

[2015-05-02 23:44] akaTJ commented on #13
ok I just fixed it!

[2015-05-02 23:44] #13 closed

[2015-05-03 10:05] uv48uson commented on #14
Yes changing the requirement id to integer is fine for me. i didn't really think about it. If i change my mind later on i can easily change it.
Concerning the Set: for now both is fine due to the discussion about the return value, which is still going on. Here is the same, if i think it would be better i can easily change it. Letting u write the method it only important for my, because otherwise i

[2015-05-03 10:12] uv48uson commented on #10
i would agree that collection or set would be the best approach. Please come to a solution. The methods are widely used so some other methods and classes have to be adapted.

[2015-05-03 10:21] TPolzer commented on #10
@uv48uson as long as those other methods store the result of the function call in a Collection they should be fine no matter what kind of Collection is actually returned.

[2015-05-03 10:40] kaobizz commented on #15
I am working on it @uv48uson

[2015-05-03 14:34] yadimon opened #18 "Type of requirement"
I m just wondering,
if we use string for commits, why dont we use strings for requirements?

[2015-05-03 21:59] uv48uson commented on #18
well until now commits are ids like this: 3j6b7k8n34h4b6k7 and requirements are digits so...

[2015-05-04 17:09] yadimon commented on #18
so it can be for sure not a number because we dont know where they comes from in the future?
or, we can use NAME-ID relation, but than we can use commit id as Integer.
I preffer to use strings for now, before its not to much to change in code.

[2015-05-04 17:11] yadimon commented on #14
use
amos-ss15-proj3/src/main/java/de/fau/osr/core/db/DataSource.java
(especially amos-ss15-proj3/src/main/java/de/fau/osr/core/db/CSVFileDataSource.java)

methods:
addReqCommitRelation(Integer reqId, String commitId)
Iterable<String> getCommitRelationByReq(Integer reqId)

probably we change reqId to string
see https://github.com/uv48uson/amos-ss15-proj3/issues/18

[2015-05-04 18:48] GnuTalux commented on #12
This abstraction will be mandatory. Lets discuss this at our next meeting.
But I am looking forward to see your solution :)

[2015-05-04 18:50] GnuTalux commented on #14
Will it be ok for you, if we let reqID stay Integer until next Spring-Meeting?

[2015-05-04 18:59] GnuTalux commented on #14
I would pull the newest changes from master to Req-17. So we will have the DataSource-Class and it will be easier for me to implement my part.
Is this a valid procedure for you guys?

[2015-05-04 19:34] uv48uson commented on #14
its fine. do whatever u like. concerning the datatype of req i dont mind too. As i already wrote, it is very easy to change. I just wanted to avoid touching all your stuff.

[2015-05-04 19:38] uv48uson commented on #18
It'll probably change when we connect to jira for example. So i dont mind. But an extra relation seems to be overhead

[2015-05-04 19:57] GnuTalux opened #19 "File indention"
Hey guys,

my IDE is complaining about some files, because they have TABS instead of 4 SPACES.
What kind of indention should we all use?

[2015-05-04 20:02] yadimon commented on #19
4 spaces sure. Pls use 4 spaces.

[2015-05-04 20:22] kaobizz opened #20 "I can't make pull data to eclipse"
Need sour help to pull data from repository :(

[2015-05-04 20:23] GnuTalux commented on #14
ok, I have implemented my part.
I had to make minor changes in your Viewer.java-File... take a look :-)

[2015-05-04 20:27] kaobizz opened #21 "push data to the repository"
Do you think I can push my data to the repository even if are not well working so that I can discuss with other People?

[2015-05-04 20:32] GnuTalux commented on #20
Unfortunatly I am not using eclipse, but normally """git pull""" gradify your needs.

[2015-05-04 20:36] kaobizz commented on #20
may be @gayathery will answer this question since she is using Eclipse

[2015-05-04 20:49] TPolzer commented on #21
Max strongly suggested not to do this but to post a patch file instead.

[2015-05-04 20:51] TPolzer commented on #20
Can you you somehow elaborate on your problem? What is it you want to achieve?
If you update files on the disk (e.g. with git pull) and they do not appear immediately in Eclipse selecting the project and pressing F5 should do the trick.

[2015-05-04 20:52] gayathery commented on #20
or else you can do by right clicking the Project and then selecting Team->Pull

[2015-05-04 21:08] kaobizz commented on #20
This is msg I get when I pull
![capture](https://cloud.githubusercontent.com/assets/11990591/7462517/4dc54576-f2b2-11e4-94b3-dd343d9854ef.PNG)

[2015-05-04 21:10] kaobizz commented on #21
what if I push to a branch, it can be also wrong?

[2015-05-05 05:42] TPolzer commented on #20
This branch does not seem to exist in the repo, it sounds like you have this problem:
https://stackoverflow.com/questions/14033442/could-not-get-advertised-ref-for-branch-error-when-pulling-in-a-git-reposit

[2015-05-05 09:36] gayathery commented on #16
Integrated the Method call for the assigned Task in this Branch. Thanks

[2015-05-05 09:36] #16 closed

[2015-05-05 09:55] uv48uson commented on #14
ok. thx. I integrated it.

[2015-05-05 09:56] #14 closed

[2015-05-05 11:39] gayathery opened #22 "User Story 7 and 8: Display deleted file name"
The deleted files are just showing up /dev/null default path since the file is literally not in the path.

Show the old file path for all files with Status : DELETE

[2015-05-05 12:24] yadimon commented on #21
i think branch is ok, but all tests must pass.

[2015-05-05 13:29] gayathery commented on #22
Code is tested and working in the master

[2015-05-05 17:14] gayathery opened #23 "Duplicate File Commit.java"

[2015-05-05 17:34] gayathery opened #24 "Redundant requirement Ids for User Story 8"

[2015-05-05 17:46] #11 closed

[2015-05-05 18:58] TPolzer commented on #9
I just set up a Windows test environment and all tests pass for me. Can you please post steps to reproduce this?

[2015-05-05 20:03] #24 closed

[2015-05-05 20:03] #23 closed

[2015-05-05 20:04] #22 closed

[2015-05-06 08:16] TPolzer commented on #9
I just tested this together with @uv48uson, it worked as soon as we did a clear checkout of the repository. Closing.

[2015-05-06 08:16] #9 closed

[2015-05-06 08:17] TPolzer opened #25 "GUI produces java.lang.ArrayStoreException"
~~While running the GUI today I got several NullPointerExceptions in the console.~~ (I don't know what I saw there...)
[code]
occurs every time I click on a file in the "show all files" mode.
I guess since this is not fatal and we will replace that code we can just leave this unfixed, just wanted to say I observed it.

[2015-05-06 15:15] TPolzer commented on #6
I pushed a quick suggestion how this could be solved to a branch (2f3a25ad62e17cb96d5ce09673c85227839299ad).
I accidentally pushed it to master, that is why it was closed here, I have since repaired this, sorry.

[2015-05-06 15:49] TPolzer opened #26 "GUI filechooser does not show hidden directories"
This is an issue because on Linux all files with a dot in front count as hidden, including the .git folder.
Maybe the file chooser should look in the .git subdirectory if it does not find a git repository in the selected one?

[2015-05-06 16:09] GnuTalux commented on #26
yeah, thats true.
my workaround was to enter the .git in text input by hand.

[2015-05-06 18:21] TPolzer commented on #20
Since @kaobizz pushed to the repository today I guess this issue is fixed.

[2015-05-06 18:21] #20 closed

[2015-05-07 06:42] gayathery commented on #6
Ok Tobias. push it to master.. this is ok

[2015-05-07 07:55] #6 closed

[2015-05-07 14:30] TPolzer opened #27 "Checked exceptions?"
I just stumbled over the `throws Exception` in DataSource.java. I think we need to discuss how we want to handle checked exceptions. As I see it there two possible ways (feel free to suggest alternatives), but we should agree on a single one:
- Have no checked exceptions in our code at all, if we happen to catch one from a library and cannot handle it reasonably at that point, rethrow it as a Runt

[2015-05-07 15:47] TPolzer opened #28 "Unified source for linkage?"
I just started working on Req-11 and I was a little confused by the existing hierarchy around DataSource and DataRetriever. Can somebody please explain this to me? Will this change?

[2015-05-07 17:45] uv48uson commented on #27
I think the second one is fine. In generall we want to use the exceptions to inform higher located classes to about some kind of missuse. In this case we should throw the excption and catch it later(in the gui controller f.e.) were we can handle it. -> reinform user or decide whether the system should terminate. But if the exception occurs due to some internal error(well im missusing "error" here)

[2015-05-07 17:53] uv48uson commented on #28
I'll try to push the refactored gui today or tommorrow morning. Then u can have a closer look at it. However this will hardly change the dataretriever. In generall the DataRetriever was created as some kind of interface for our libary (facade pattern). Concerning the interaction with datasource, we already discussed between taleh, gayerthery and me, that we should change the interaction somehow.

[2015-05-07 18:51] TPolzer commented on #28
To be honest, using a DataRetriever to get Requirements for a single commit seems very weird to me, it uses a Tracker which has nothing to do with the functionality needed to get linkage!

I thought the general direction we wanted was some kind ob interface / abstract class that specifies how a source / sink of linkage looks (e.g. DataSource) and then we have a class that aggregates several of tho

[2015-05-07 18:56] GnuTalux commented on #28
The Tracker-Class provides a abstraction for getting ReqID and CommitID relations, but DataRetriever somehow does the same. Currently DataRetriever uses DataSource, which return PostTraceability... I will change this.

Gayathery, Dimitry an I had a disscussion about this problem.
@gayathery, @udimon...
Did we come to a final solution?

[2015-05-07 19:00] TPolzer commented on #28
Tracker provides an abstraction of the linkage commit<->req to file<->req, but that is absolutely not needed for aggregating the raw linkage, that should happen "below" Tracker.

[2015-05-07 19:23] GnuTalux commented on #28
@TPolzer Do you prefer a additional abstraction for different "data sources"?

from what I understand, Tracker retrieves commit<->req information via ```jgit``` by reading out a repo and ```DataSource``` from post traceability...

Do we really need a further abstraction layer? Somehow this can be clever, but then we doesn't need the DataRetriever?

@uv48uson The GUI is using DataSource for getting

[2015-05-07 19:28] TPolzer commented on #28
@GnuTalux I would prefer not to have an _additional_ abstraction layer but to have some _well structured_ abstraction, because right now it all looks a little chaotic.

@yadimon Didn't you draw a diagram of how you thought this should look?

[2015-05-07 19:34] GnuTalux commented on #27
I also wondered about the """throws Exception""" things.
As I wrote the DataRetriever-Methods for the GUI, I handled the Exceptions within the same method.
But I was not happy about it :smile:

What I don't really understand is, why are the ```throws Exception``` statements defined with in the interface.
I think, Exceptions like ```RelationNotFound``` (...)  would be more reasonable... but in that

[2015-05-07 22:19] uv48uson commented on #28
@TPolzer Seems like there is still a missunderstanding. Just ignore DataRetriever for now in your discussion: First of all DataRetriever will be updated tommorrow morning. Secondly DataRetriever is only a facade/interface for our whole functionality(there should be no logic in here; if there is (tommorrow) just write a bug fix issue. Or if somebody used the wrong classes to recieve the data from l

[2015-05-07 22:21] #21 closed

[2015-05-08 06:04] gayathery commented on #28
I had suggested that not to expose any datasource calls in the UI . Here
the dataretriver class.

Also any changes to UI framework shouldn't keep us changing the logic later
on.

Tracker is just aggregating the data from git repo and database to provide
one single result to the UI calls.

For now, I left a TODO, untill Taleh and Dmity refine something with tge
datasource lauer.
On 8 May 2015 00:19

[2015-05-08 09:21] uv48uson commented on #28
I pushed the refactored UI to Branch Req17.
I dont know what the tracker should do. If u can agree on taking it as a facade, im fine with it. If u dont ok. But until then there is no need to change the DataRetriever(now named Modell in Req17 UI Branch).
@TPolzer @yadimon please keep the discussion here not in studon.

[2015-05-08 09:22] uv48uson commented on #27
take a look at the refactored UI in Branch Req-17

[2015-05-08 09:31] uv48uson commented on #25
I think i fixed it. However the exception doesnt occur on my system anymore. With the newest push to Branch Req-17. Please comment if anybody can reproduce the exception or whether it is gone for u. Then we could close the issue.

[2015-05-08 12:07] uv48uson commented on #26
should be fixed. I tried it for linux mint. worked fine.

[2015-05-08 12:07] #26 closed

[2015-05-08 12:13] uv48uson commented on #19
Using tabs gives freedom to the viewer to configure their editor as desired. I like my tabs to display as more than 4  spaces, whereas u like 4. This is not possible without use of tabs. We would battle spaces when we each format in our respective editor; tabs are not an issue; this is why they were invented

[2015-05-08 16:58] TPolzer commented on #28
Who is actually responsible right now for creating a single interface which enables others (like the functionality I am working on now) to get aggregated requirements for a single commit (from multiple sources)? @yadimon?

[2015-05-09 17:07] yadimon commented on #27
If the database throws an exception, that means, the results are broken. So what the user will see is already bad. That why "return null" or something like this is bad on such low lvl implementations. (but still make since in some situations)
*the nice article says about it
The interface/abstract class (DataSource) must throw some general exception, because we dont know the implementation. But IOE

[2015-05-09 18:54] yadimon commented on #28
As i understand after talking with Gayathery and Taleh, the Tracker is the last lvl (like "API") class. This class uses DataSource and combines it with VCS source, to return combined REQ - COMMIT linkage for example.
All persistent data should be got and saved over DataSource (the best way could be use the datasource only from tracker class, because its initialized there).
So the Tracker should us

[2015-05-09 20:29] yadimon commented on #19
pls use spaces
http://programmers.stackexchange.com/questions/57/tabs-versus-spaces-what-is-the-proper-indentation-character-for-everything-in-e

the argumens about view are agains tabs.
e.g.
[code]
can be veeery different on different editors with different fonts and tab settings, if you use tabs.
And it will be the same, if you use spaces.

[2015-05-10 05:24] TPolzer commented on #28
If this is really what the Tracker was made for (I'm not sure), then why isn't the Tracker a DataSource?

[2015-05-10 10:29] uv48uson commented on #19
well ok u are right there. There is no point in discussing this further. So 4 spaces. That's fine.

[2015-05-10 10:32] uv48uson commented on #28
Im fully irritated right now. I'll change the UI when u agreed on one way.

[2015-05-10 10:36] uv48uson commented on #27
normally returning null is not a good choice. If there is no data just return an empty collection for example. This shouldn't cause any exception.
Yes I agree that if the results are somehow broken an exception should be thrown.

[2015-05-10 10:40] uv48uson opened #29 "Closing branch Req-7 & 8"
Can we close the branch Req-7 and 8?

[2015-05-10 12:01] GnuTalux commented on #27
Returning an "empty" of a datatype is mostly the good choice.
In Python (for example) this is default.
But I think, we have discussed this in an other issue.

[2015-05-10 16:09] uv48uson opened #30 "Properties file content"
Guys there's a problem. I can not change the Requirement Pattern witch is used for some methods. For example ```getAllRequirementsforFile``` uses the default Pattern from the propertie resource. Nevertheless the resources are in generall read only. So ... there is the problem the pattern must be somehow passed to the parser.

[2015-05-10 16:28] uv48uson commented on #30
for now i fixed it via a setPattern but maybe there is an other suggestion?

[2015-05-11 10:50] TPolzer commented on #25
Gone for me. Closing.

[2015-05-11 10:50] #25 closed

[2015-05-11 12:45] TPolzer opened #31 "Structure of GUI?!"
Today I wanted to implement Req-9 (in the Req-9) and finish Req-11, this however turned out to be far more difficult than anticipated, because the GUI code seems to grow every day in several directions.

I spent most of my time fighting through the existing code, which looks to me quite over complicated. I understand that the Req-17 branch is not finished, however I have no idea how to implement G

[2015-05-11 12:49] TPolzer commented on #31
When will the structure be fixed? And can we please adhere to the KISS principle?

[2015-05-11 13:34] uv48uson commented on #31
I'm working on the UI every day. So it changes every day. However i think it is not complex at all. I refactored everything past the last meeting. There are 3 very simple Patterns used, the structure is very clean,coupling very low and comments in for the main methods.
Nevertheless i can understand, that it's not that easy for u to integrate a new feature due to a lot of new stuff u have to go thr

[2015-05-11 13:36] #29 closed

[2015-05-11 13:57] gayathery commented on #30
another solution would be to overload the parse method...something like the following
public List parse(String latestCommitMessage) and
public List parse(String latestCommitMessage String reqPattern)

In the second method you can override the REQUIREMENT_PATTERN and use the user supplied one

[2015-05-11 14:04] uv48uson commented on #30
i tried this at first but realized later, that this is no solution because the parser is used from a lot of different classes. So u have to change all of them using the overloading method and changing there interface too, to pass them the pattern.

[2015-05-11 14:43] TPolzer commented on #30
This would not be the case if we just made a DataSource out of the parser and just passed it around as a configured DataSource. This is exactly the problem I was talking about in #28.

[2015-05-11 14:44] TPolzer commented on #30
And I think ideally this DataSource should be immutable, so it would have to get arguments in the constructor.

[2015-05-11 17:37] uv48uson commented on #31
I merged Req-017 GUI Branch with master. This should help. Nevertheless we will have conflicts tommorrow. That's how it goes if multiple people are working on the same feature.

[2015-05-11 18:49] TPolzer commented on #31
@uv48uson could you please try to merge my Req-11 branch into master?

[2015-05-11 20:13] yadimon commented on #28
The tracker cannot implement DataSource (if you mean it), because things like "save" are not defined than, we dont change .git. And from outside our API sould not give all methods of DataSource.

DataSource is only for our database "something", "get/save some useful information"

The Gui Modell (2 L ?) do what tracker should do. But has some wrong things like "get..FromDB" .. there must be no diff

[2015-05-11 20:31] uv48uson commented on #31
seems like this is not that easy
[code]
I'll try again tommorrw.

[2015-05-11 20:36] uv48uson commented on #28
I wasnt sure about this at all. But if u all agree that tracker should be our kind of facade/interface, then we can simple move methods from facade.java to tracker.java. That's all. So the UI itself should not really be touched by this.

[2015-05-12 00:21] yadimon commented on #28
yes, i see your code, i ll merge Facade with Tracker. I am improving the Tracker now to achieve our "Lib + UI" like software.
nice UI btw.

[2015-05-12 06:32] TPolzer opened #32 ""Navigate from file" does not list all files"
When executing our tool on our own repo I cannot see some files, e.g. pom.xml.

[2015-05-12 08:10] GnuTalux opened #33 "Gui-Application dosen't behave as expected"
Hi guys,

I have executed the ```de.fau.osr.gui.Application``` class to check, how it is working.

My problem was, that after choosing repo and enter Req-Parser-Pattern no "main" Windows appears.
The only thing I can see is a Application-Icon in my taskbar but not our application.

Could someone knowing the gui code check this?

[2015-05-12 08:11] GnuTalux commented on #33
I have built our project via ```mvn package``` and executed our application via ```java -cp target/amos-ss15-proj3-1.0-SNAPSHOT-jar-with-dependencies.jar de.fau.osr.gui.Application```

[2015-05-12 08:17] GnuTalux opened #34 "What will be absolute path of "DefaultPathToCSVFile""
Hi guys,

I am curios about the app.property "DefaultPathToCSVFile" which is currently defined as "./dataSource.csv".

If Tracker doesn't get a ```DataSource``` instance then Tracker will create a ```DataSource``` to store data at "./dataSource.csv" by himself. But will this be created within the working directory or the project directory?
Wouldn't it be more reasonable, if ```DataSource``` is cre

[2015-05-12 08:23] GnuTalux commented on #34
Ok, I see, that "dataSource.csv" will always be created within our project directory.

I had implemented, that "dataSource.csv" should be created at the parent directory of given repo directory.  But someone changed this.

[2015-05-12 08:36] uv48uson commented on #32
yes. that's because i only print out the files which paths start with src. Just because otherwise there would be so many files from git which are not important. This is only for demo. I can just delete that if clause later

[2015-05-12 08:38] uv48uson commented on #33
which system are u running? can u try to make ```mvn test install``` . Are u sure u entered a corret repo (so the .git directory) and a proper pattern?

[2015-05-12 08:43] uv48uson commented on #34
oh. Probably i changed it. I'm not sure about it but whatever. Im sorry for changing it. That wasn't my intention. If i have the time by today i'll redo it, else we must live with it for now. I'm sorry again. I refactored the whole UI so maybe this was kind of a side effect  ...

[2015-05-12 08:45] uv48uson commented on #28
Are u sure u want to merge this on the last sprint day? Could make some problems. But if u are confident in doing so.

[2015-05-12 08:49] GnuTalux opened #35 "For Sorting and Filtering"
For sorting and filtering we need the possibility to set/choose the sorting algorithm within the model.

As I understand the MVC architecture, the view provides something to select the sorting/filtering
and the controller passes this "action" to model.
The Model knows the algorithm to sort/filter.

I have tried to understand our MVC implementation.
I am not sure, but could it be, that our Model-In

[2015-05-12 08:52] GnuTalux commented on #34
no, this not the problem. Its not a big drama :-)
I just noticed it and wanted to present a (maybe) better solution.
I don't think, that this would be a problem at review meeting.

[2015-05-12 08:55] GnuTalux commented on #33
I am working on Suse Linux and I selected the .git directory (otherwise I will get an Error-Message)
and I don't changed the default Pattern.
I retried it with ```mvn test install``` but the result was the same.
The Gui is somehow working, but after the Pattern-Dialog there is nothing to see.

[2015-05-12 08:59] uv48uson commented on #28
well u did it. Nice work. Nevertheless tracker seems to be kind of overloaded. Some of the methods should be moved to vcsController for example. But this could be part of next sprint.

[2015-05-12 09:10] uv48uson commented on #35
Yes, I think extending is the way to go here. I did not intend to include the sorting that's why the architecture does not allow it right now. But u can simply change the getAllFiles signature for example and pass a strategy class. This would really ba a good archtiecture i think. Before this, there should be a user choise. like a drop down menue to choose the strategy. (this could be located over

[2015-05-12 09:16] GnuTalux commented on #35
Ok. After class I will implement the architecture of Sorting/Filtering-Strategy-Classes.

[2015-05-12 10:16] uv48uson commented on #31
@TPolzer I updated the test_branch_for_merge_commits Branch for manually merging brnach 11 to master. It's doable. Nevertheless i stopped my work for now, since i have deep doubts merging this code to master, after I had a closer look at it. I dont want to offend u, but the code u integrated seemed a bit chaotic for me. There are a lot of final variables which should not be final. There's going an

[2015-05-12 10:45] TPolzer commented on #31
Local variables that are to be used in event handlers have to be final. And I used the structure the way it was when I was adding my code to the gui, yes the MVC seperation is a little bit muddy right now, but creating additional code in a MouseListener class that is tightly coupled to both View and Controller is not a better solution ;).

[2015-05-12 11:37] uv48uson commented on #31
MVC seperation is not muddy at all. And the MouseListener only uses guiController. I'm working on the integration of your branch. Nevertheless, if u dont mind, i adapt it to the current architecture.

[2015-05-12 11:47] yadimon commented on #34
i commitet by fix branch this DataSource - repo dependency
18fbaddca6b91c41101b7a059885f1a8aea37829

[2015-05-12 12:55] #34 closed

[2015-05-12 12:58] GnuTalux commented on #33
@yadimon @gayathery does GUI work for anyone else?
for me GUI is not working.
What should I do?

[2015-05-12 13:19] TPolzer commented on #33
@GnuTalux could you please try the test_resizable branch(1d67e192af2a3e0554371849c4e78e913f044cde), this could help.

[2015-05-12 13:27] gayathery commented on #33
It works for me. I just pulled master and did a mvn:install . Run the jar
in the target.

It does show most of tge functionality in UI.

Lastest I could test the linkages
On 12 May 2015 14:58, "Taleh Didover" <notifications@github.com> wrote:

[2015-05-12 13:28] GnuTalux commented on #35
for info I am using following jre:
[code]

If the software is not working on my machine, does this mean we are not releasing?

[2015-05-12 13:41] GnuTalux commented on #33
@TPolzer thank you very much. It is working for me :-)

[2015-05-12 13:41] #33 closed

[2015-05-12 14:16] TPolzer commented on #31
After the 'rewrite' we just did it should now work, but somehow nothing is displayed. I think you have more experience with Swing than I have, can you look into it?

[2015-05-12 14:53] uv48uson commented on #31
done

[2015-05-12 14:53] GnuTalux opened #36 "Can you add "FilesSort_combobox" to GUI?"
Hi Flo,

I have troubles inserting the sort-Combobox into GUI, please.
Somehow I am not correctly using the Layouter. Could you insert the sort-Combobox ```FilesSort_combobox``` into GUI.
I am working on branch  "req16_sorting_filename"

If someone else can also do this, feel free fixing this ;-)

Sorry for late issue.

[2015-05-12 14:54] uv48uson commented on #31
nevertheless there seems to be a bug in catching the annotatedLines.
Req->File->Error for some files

[2015-05-12 14:55] uv48uson commented on #36
np wait a minute

[2015-05-12 15:14] GnuTalux commented on #36
thanks!

[2015-05-12 15:30] uv48uson commented on #36
k. Is it already working?

[2015-05-12 15:51] GnuTalux commented on #36
well done!
When I read all the required code lines, which you have changed to just add a "simple" combobox,
I am somehow disappointed of swing ^^ ... its quite better then Tkinter :'D

[2015-05-12 15:51] #36 closed

[2015-05-12 16:28] TPolzer commented on #31
fixed it.

[2015-05-12 16:28] #31 closed

[2015-05-12 16:29] TPolzer commented on #32
So we just close this?

[2015-05-12 17:30] #32 closed

[2015-05-13 15:37] #15 closed

[2015-05-13 15:37] #19 closed

[2015-05-14 11:42] #27 closed

[2015-05-14 13:40] yadimon commented on #18
we use the strings now.

[2015-05-14 13:40] #18 closed

[2015-05-14 17:22] uv48uson opened #37 "Definition of Done"
Since we already spoke about test coverage here are two tools im familiar with:
djCover: messures only statement and branch coverage
CodeCover: can also messure condition coverage
We can use one of those and define what kind of coverage our tests should have. On top of this, we could(i u want to) use metrixs to define whether code is somehow clean. Therefore we could use FindBugs to calculate kivi

[2015-05-14 18:12] GnuTalux commented on #37
sounds interesting!

[2015-05-14 20:44] uv48uson opened #38 "Bug in Tracker: CommitFiles for Requirement"
```public List<CommitFile> getCommitFilesForRequirementID(String requirementID) throws IOException {```
This method somehow returns for every requirments id the same value, I figured this out while searching for the issue of the missing navigation i showed during the team meeting (Req->File->than no commit is shown)
Since id idnt want to change former code i wait for Gayathery for example to fix t

[2015-05-15 06:54] yadimon opened #39 "code highlighting doesnt work"
e.g. our repo, req-010 -> fixed imports commit -> GuiController.java should highlight some imports.

[2015-05-15 07:56] uv48uson commented on #39
Yeah. Seems weird. Actually only very few lines are highlighted. I already noticed the same. Especially regarding the newest commits. There should be a whole bunch of lines highlighted. Should i take a look at this beside i doesn't know about these AnnotatedLines or is there somebody else who feels responsible. Tobias can not fix this, can he?

[2015-05-15 08:09] TPolzer commented on #39
Can you please post the exact steps required to reproduce this?
When I click on req-010 -> fixed imports commit -> GuiController.java I get all lines highlighted that were inserted in ef099470e9bd5bfa27200a2ff034fc82034f2d9d and f6eda902a49566c7116c6c0bf2ef02f096dbe46e.
Is your working copy clean?

[2015-05-15 08:24] #38 closed

[2015-05-15 08:37] yadimon commented on #39
i compiled/started on both os windows (10) and linux (Ubuntu 14 vm) but still buggy. Compiled latest master with maven. Used empty dataSource.csv

[2015-05-17 06:14] yadimon opened #40 "update wiki"
tried to check wiki about code guidelines and gui. Its not updated.
Probably there are many outdated places in our wiki.

[2015-05-17 06:59] yadimon commented on #37
pls check
emma (old): http://emma.sourceforge.net/  + example http://www.mkyong.com/maven/maven-emma-integration-example/ too
cobertuna: http://www.mkyong.com/qa/maven-cobertura-code-coverage-example/

on windows, i got error with emma. cobertuna was ok.

check serenity too (looks good, but not updated, didnt installed it):
https://wiki.jenkins-ci.org/display/JENKINS/Serenity+Plugin

i think cober

[2015-05-17 07:02] yadimon commented on #30
implemented args in constructor 36adc8e39ffb2aa0af05984dee98edd9d9d6b9bf

[2015-05-17 07:33] yadimon opened #41 "Comments format"
is it ok that i change all the /* comments to /** ?
and that you possible using the standard format of comments? (just type /** ENTER over the method)
for tags see: http://de.wikipedia.org/wiki/Javadoc

why?

1. if we want to generate some kind of documentation at some moment, javadoc will need such format.
2. if you work with an IDE (eclipse or intellij) to get quick information (like F2 in eclip

[2015-05-17 09:09] GnuTalux commented on #41
I can agree. I am already using this :)

[2015-05-17 15:12] GnuTalux opened #42 "No need for ```CommitMessageParser``` in Tracker."
Hi guys,

while I'm working on my user story (18 and 19) I realized, that somehow it would be easier, if
we change/refactore the ```Tracker``` not requiring a "requirement pattern" ```Pattern```.
Actually all functionality which uses ```CommitMessageParser``` could be moved to ```VCSDataSource``` or could be shared by ```VCSDataSource``` and ```VCSClient```.
I think after ```GUITrackerToModelAdapt

[2015-05-17 16:37] #35 closed

[2015-05-17 17:51] GnuTalux opened #43 "Need a search text field above requirement pane"
Hi Flo,

I am working on user story 29 (search for requirement).
I will implement this in same way as sorting.
Searching will be realized by implementing a Filter, which will be passed to GuiModel.

I need your help in the GUI.
Could you add a search text field above the requirements, please?
It would be nice, if you could add event handling, so that, if text is entered the
requirements list will

[2015-05-17 20:59] KatsiarynaK commented on #37
Hello everyone,

This week our team has to decide on Definition of Done for completing the tasks.

Here is a draft of our team's Definitions of Done, which we have to finish by Wednesday. Therefore, please, leave your comments/improvements/additions/ **by 6 p.m Tuesday, 19.05.15**.

Here are suggested criteria for Done tasks:
1.	Code is finished (all ‘to do’ items in code completed)
2.	Code commen

[2015-05-17 21:06] yadimon commented on #37
1. probably hard, because we have some not resolved over long time todos. (but possible to resolve it)
6. we need the code standards (like comments format and tabs/spaces)

[2015-05-17 21:32] uv48uson commented on #37
@yadimon i dont think that coed standarts in our current form are a problem. It hink a user story should not be rejected if like the comments dont fit this excact form. Because u can read them anyway.

4: what kind of coverage? line coverage? whats about gui features?
1: probably not that easy. very related to 8
7: yes. this could really improve our wiki

[2015-05-17 21:32] uv48uson commented on #40
i'll update the gui stuff tomorrow

[2015-05-17 21:33] uv48uson commented on #41
shouldn't be a problem. i can u se them too from now on.

[2015-05-17 22:24] uv48uson commented on #42
well all fo the methods should be affected by the user specific pattern. Nevertheless i think the architecture would be borken if a so called adapter would define this parser. Therefore i suggest this to happen in controller and pass it in the contructr to adapter and then to tracker

[2015-05-17 22:25] uv48uson commented on #43
so u only want the search field for id?
np witch branch?

[2015-05-17 22:28] uv48uson commented on #39
well actually there might be a missunderstanding how tobias user story works. Howerever i'll change it so that the comparision will be from the latest commit before the selected comit nd the first one after this. Then all should work

[2015-05-17 22:31] uv48uson commented on #30
i'll close this issue since the content is the same as issue #42

[2015-05-17 22:31] #30 closed

[2015-05-17 22:34] KatsiarynaK commented on #37
@uv48uson about #4, I dont know how to assess test coverage correctly) this is a suggestion, if you have a better idea for test cases, please, write.

@uv48uson @yadimon should we exclude #1 ? or rewrite is somehow?

[2015-05-18 04:07] yadimon commented on #42
check the fix pls,  revert/add the code and close.

[2015-05-18 06:37] GnuTalux commented on #43
yes, just for the requirement id.
I am working in Branch "Req-29_search..."

If you does not have time for this. Informe me, please :D

[2015-05-18 10:04] uv48uson commented on #42
seems fine. i didnt try it out, but i assume u did.

[2015-05-18 11:48] uv48uson commented on #43
done. fine like this?

[2015-05-18 15:48] GnuTalux commented on #43
thank you! well done!

Unfortunately our GUI does not auto update itself. But I think, this is a separate user story ^^

[2015-05-18 15:48] #43 closed

[2015-05-18 16:00] GnuTalux commented on #42
seems fine to me, too.

Thank you for fixing this. I would have done it by myself, but I wasn't sure, If someone doesn't like my suggestion. :-)

Nice teamwork dude!

Feel free merging it ;-)

[2015-05-18 16:06] uv48uson opened #44 "Performance"
For me some operations on the gui take really long. Like 10 sec ...
We should have a look at performance soon.

[2015-05-18 17:02] uv48uson commented on #39
just forget what i wrote in the comment i deleted. The understanding of the user story is fine. Nevertheless it doesnt work. It's really an obstacle right now

[2015-05-18 19:21] gayathery commented on #44
i think this should really be looked upon....because getCommitFilesForRequirementID method is taking a long time even for one requirement..and if we generate a impact matrix for all requirements, it is really going to hang the system for hours

[2015-05-18 19:25] gayathery commented on #44
I am really blocked to implement the impact traceability matrix because this method takes a long long time

[2015-05-18 19:32] uv48uson commented on #44
this would really be easier with a database wouldn't it?
At least the getCommitFiles call to GitClient would be faster. I dont know yet what to do about the blame. Well, beside storing the blame result for the files once.

[2015-05-18 19:58] gayathery commented on #44
database would not be nice for this because keeping the values in database consistent with Git is not easy

[2015-05-18 20:17] yadimon commented on #44
things like getBlame, will take ever :)
because for each operation (any line) it need to ask all DataSources.
and any VcsDataSource request, means, load all repo.
thats why we should use database only (with loaded git data in it), at some time. But not now (as gayathery said, too hard)
For now, we can use req-commit-relation collection CACHE for performance. (me or someone can just implement it in

[2015-05-18 20:39] gayathery commented on #44
I think we should plan to revert some code in this area because this performance issue is creating problems for our existing functionalities

[2015-05-18 20:53] gayathery opened #45 "Bug in UI " Navigate from file ""
Navigate from file lists all files with some Impact percentage data , which is not appropriate.

Impact percentage should be shown only linking with requirements.

[2015-05-18 21:03] GnuTalux commented on #44
yeah, I also think a simple Cache within the VscClient could help us.

[2015-05-18 21:10] KatsiarynaK commented on #44
Could you determine what new functionality slows down performance?

[2015-05-18 21:29] GnuTalux commented on #45
I will fix this!

[2015-05-18 21:29] GnuTalux commented on #45
in which branch should do this?
in a new one?

[2015-05-18 21:43] gayathery commented on #45
if you have already a branch you can do it or create a new one

[2015-05-18 21:45] gayathery commented on #44
The implementation using Blame for providing impact data is creating performance issues..in turn this functionality is required for other user stories to be completed

[2015-05-18 22:02] uv48uson commented on #45
well for now i wanted to show it for every file because i wasnt sure in which situations it should be shown

[2015-05-18 22:03] uv48uson commented on #41
i changed a lot of them

[2015-05-18 22:03] #41 closed

[2015-05-18 22:03] uv48uson commented on #42
it is already merged, isn't it?

[2015-05-18 22:07] KatsiarynaK commented on #44
@gayathery if the problem doesnt block you but only makes it inconvenient to work on the application, I thing that we can go on (at least this week). Additionally, we were told not to pay attention to the performance, so, 10 sec is stil ok.

@yadimon @GnuTalux how long willl it take to implement Cache within the VscClient? Is any of you capable of doing it?

[2015-05-18 22:16] yadimon commented on #44
@gayathery use mocks to test your code (Mockito, already included in our poject, see wiki for more information)
the mocks for datasource and VcsClient. So you will not need any perfromance of the real objects, and can simple make unit tests on your code.

[2015-05-18 22:32] yadimon commented on #37
@uv48uson ok
6. development standards could be "no standards" or "low standards".
1 and 8 could be todo/duscussion should be...  **solely** . So only for this userstory exaclty, nothing else.
4. we can just use mvn cobertura:cobertura for simple line coverage for now.
cobertura generates the reporting about coverage at: ${project}/target/site/cobertura/index.html
so run it, and open the html file

[2015-05-18 23:04] gayathery commented on #44
@KatsiarynaK 10 sec for one requirement ID is too much because for impact traceability matrix this time will be a multiple factor because matrix is for all requirements and files. and also 10 sec is only when there are less commits for a requirement ...or else it takes a long long time. I think this impact calculation should be done making using of threads from a defined thread pool

[2015-05-18 23:10] gayathery commented on #44
@yadimon i already tested with a mock generated data...but i want to test them with real values..because some times the behavior can be different than what is expected.

Also i saw one more possible issue in impact calculation. here a list of commit files is iterated in a loop and I think for impact calculation this will be  redundant  and it should not be so...
if in the list there is the followi

[2015-05-18 23:13] gayathery commented on #44
traceability matrix working well with mock data butfor real data... i started the generation 40 minutes back and is not complete yet :(

[2015-05-18 23:22] yadimon commented on #42
it is. @GnuTalux  you should close this issua, if it satisfied you :)

[2015-05-18 23:23] TPolzer commented on #44
I just did a quick bisect on this and 13df0d9107812ffd28751db81472e1b4594ebcc9 turned out to be the performance sink. The problem is that getting basic linkage commitId->[Req] is trivial to implement in a cheap way for all datasources and is used as a basic building block elsewhere (e.g. blame...), but right now getReqRelationByCommit iterates over the whole repository for each request.

[2015-05-18 23:31] #28 closed

[2015-05-18 23:33] TPolzer commented on #44
Also a cache in VcsClient is not a going to help with anything. Git already implements lookup on commitIds.

[2015-05-18 23:47] yadimon commented on #44
implemented cache (86d2548f8d14e27985154f62c1ba1f53a9f01328).
`Tracker::getAllReqCommitRelations()` now uses it.
if you need it directly from DataSource, use `DataSource::getCachedAllReqCommitRelations()` instead of `DataSource::getAllReqCommitRelations()`

[2015-05-19 05:04] gayathery commented on #44
How much the performance improved after this cache implementation. ?

Please show your results
 On 19 May 2015 01:47, "yadimon" <notifications@github.com> wrote:

[2015-05-19 05:19] gayathery opened #46 "Commit File Object structure"
The impact is attached as one of the properties of  commit file. This means a impact for that particular committ.

But in our application impact carries value for impact for a requirement, which is misleading and so a bad oo design.

Logic for the impact calculation has to be rethinked.

[2015-05-19 08:30] uv48uson commented on #46
I'll change this

[2015-05-19 08:55] yadimon commented on #44
I dont have any tests, but in theory there must be some improvement.
for good performance we need to cache vcsclient. (Tried it yesterday, but needed more than 30 mins, maybe today)

[2015-05-19 11:36] GnuTalux commented on #44
@yadimon: When will the cache be updated?
Does it check for new commits?

[2015-05-19 11:37] #42 closed

[2015-05-19 12:50] GnuTalux commented on #45
I have implemented it.
So that, if the user "navigates from files", then there is no highlighting and impact percentages.
This was just a small change.

But I think in future it would be reasonable to show impact percentages and highlighting, if the user "navigates from files" and chooses a commit id.

[2015-05-19 13:39] yadimon commented on #44
@GnuTalux by modifications (add/remove) see DataSource class.

[2015-05-19 14:22] gayathery opened #48 "UI : Repository Not found Exception show sequence"
In the application start screen, a dialogue opens for choosing the repository .
Next , what ever the user selects it goes to next step to Requirement Pattern setting .If there is a Exception in repository path setting it is shown only after the requirements pattern setting . rather error should be shown immediately after the repository setting.

[2015-05-19 15:00] gayathery opened #49 "Many functionalities in new UI not working in master"
when i click a requirement id, earlier there was atleast data after sometime but now i do not see data for a long time

[2015-05-19 15:39] gayathery commented on #49
this is not working for some patterns in UI
reqid to commit is working for default pattern but not from commit to file
For some pattern like Req-(\d+) even reqid to commit is not working

[2015-05-19 15:41] gayathery commented on #49
@GnuTalux can you check this problem because the UI  was last changed by you

[2015-05-19 16:36] GnuTalux commented on #49
sorry It was my fault. But now it should work.

[2015-05-19 16:55] gayathery commented on #44
The problem in performance was because of the logic...changed the logic of the impact calculation and also fine tune some parameters being used in the loops... now the performance for the traceability matrix is improved from 19 minutes to 21 seconds. I have commited the changes along with my user story. and now the problem with the functionality is also fixed..with impact percentage being now calc

[2015-05-19 16:55] #44 closed

[2015-05-19 18:31] #49 closed

[2015-05-19 18:33] #45 closed

[2015-05-19 23:36] KatsiarynaK commented on #37
Final version

Definitions of Done:

1. Code is finished (all ‘to do’ items in code, which are related to particular issue, are completed).
2. Code commented, checked in and run against current version in source control
3. Pushing code doesn’t cause any errors.
4. There is 70% of line test coverage by unit tests (except for GUI features), code passes all unit tests.
5. Passed Acceptance Criteria.

[2015-05-19 23:36] #37 closed

[2015-05-20 10:37] gayathery opened #50 "Core : Impact Analysis Logic is inconsistant"

[2015-05-20 10:38] gayathery opened #51 "Tractability Matrix _ File ascending order display not working"

[2015-05-20 16:48] GnuTalux opened #52 "No content is shown from files selected in "navigate from files""
Hi guys,

as we all know, selected files from "navigate from files" doesn't display
their content.

I will fix this!

[2015-05-20 17:44] #52 closed

[2015-05-20 17:54] GnuTalux opened #53 "Missing requirement-id for selected File..."
Hi guys,

I have just noticed, their are missing requirement ids, if you start from
"navigate from files" and select a file.

I have uploaded a screenshot where I marked correct Req-Id with green and missing ones with red.
![file2reqid_linkage_buggy](https://cloud.githubusercontent.com/assets/1008351/7732665/bb5ab75a-ff29-11e4-9577-41a3295ea8bd.png)

[2015-05-21 16:44] uv48uson opened #54 "Single Mouse Selection to List Selection"
Hey guys,
I want to refactor the MouseEventHandler wie have and transform them to ListEventHandler. This is partially necessary for my user story anyway.
This would affect the guiController, MouseEvent, guiModel and Adapter. However inthe the controller mouseEvent and model only the signatures and the parameters of methods call to guiModel would change. The most would be in adapter.
Since this is

[2015-05-21 18:35] GnuTalux commented on #54
if you just do this in your branch without merging unfinished states into master, It will be fine for me, of course. :)

[2015-05-21 19:39] uv48uson commented on #54
of course in my own branch. I just wanted to inform u because that was what we agrred on in team meeting. if there is a bigger refactoring...

[2015-05-22 11:14] uv48uson opened #55 "Migration to another UI Framework"
Once in team meeting we discussed whether we want to migrate from Swing to any other UI Framwork. I wondered whether this is still relevant. If it is, we should really make progress there, because most of our work now is Swing specific.

[2015-05-22 14:47] gayathery commented on #55
I think we should stay with this UI framework, because even in the pdf file from our partner (shared for common understanding) it is specified as Windows builder as an option... So i think we should stay with this framework as we dont foresee any real problems

[2015-05-22 18:08] gayathery commented on #55
Eclipse plugin  may be an additional to swing UI I hope.

[2015-05-23 13:34] gayathery opened #56 "Traceability matrix is not aligning properly with the change of size of total window"

[2015-05-23 13:42] #56 closed

[2015-05-24 15:51] yadimon commented on #55
it could be very beautiful with JavaFX. But transfer so much work to another UI will be too hard. I think swing is acceptable for the b.partner.

Anyway maybe its useful to try (https://www.google.de/search?q=swing%2Bjavafx%2Bmigration)

[2015-05-24 15:54] yadimon commented on #54
i probably will wrap/switch all the panels to another panels, to make the border be resizable. But the access to the old listpanels should stay the same.

[2015-05-26 00:03] GnuTalux opened #57 "I have changed CommitFile.hashCode and .equals"
Hi guys,

I have to remove duplicates in file scrollpane.
I have changed ```CommitFile.hashCode``` and ```CommitFile.equals``` to
achieve this.

[code]

I think, as long as we don't really need the strictness of previous implementation,
we could go along with my changes.
I hope everyone is fine with this.

Currently I am working on branch "Req-37_selecting_multiple_commits"

[2015-05-26 10:05] TPolzer commented on #57
Please do not do this, it is very surprising behavior and could cause unexpected breakage in the future.

[2015-05-26 14:01] GnuTalux commented on #57
ok.

[2015-05-26 14:01] #57 closed

[2015-05-26 19:52] #50 closed

[2015-05-26 20:49] #51 closed

[2015-05-27 02:25] #39 closed

[2015-05-27 11:06] #40 closed

[2015-05-27 11:44] akaTJ opened #58 "Disappearing requirement IDs"
When the user selects a line of code, all previously displayed requirement IDs disappear.
Instead they should still be previewed to the user.

[2015-05-27 11:48] akaTJ opened #59 "Alignment of file names in traceability matrix is incorrect"
Currently in the traceability matrix the alignment of file names is "right aligned".
It should be done "left aligned"

[2015-05-27 15:13] TPolzer commented on #39
So this is still an impediment, but not an issue anymore? I could possibly fix this if somebody told me what is broken.

[2015-05-27 18:34] uv48uson opened #60 "Java Version+URGENT"
Hey guys,
I just wondered why we are using java 7 and not 8, since i wanted to use lambda expressions.
Normally using the newest version should never be a problem, so i just suggest migrating to java 8.

[2015-05-28 08:35] GnuTalux commented on #60
I also would prefer java 8. The new features are very nice and provide shorter solutions.

[2015-05-28 12:00] gayathery commented on #60
i would also prefer Java 8. These decisions I think we should have taken at the start of our project itself...but anyways better late than never...hope there are no compatibility issues

[2015-05-28 12:44] uv48uson commented on #60
I adjusted this as part of my user story for now

[2015-05-28 18:07] TPolzer commented on #60
Although the new features in Java 8 are really nice, I think it might not be a good idea, as it requires all users to have a Java 8 runtime environment.

@akaTJ @KatsiarynaK could you please ask the industry partner if using Java 8 is ok?

[2015-05-28 21:08] yadimon commented on #60
i would like to use java 8 too.
but yes, the industry partner should accept it.

[2015-05-28 21:14] yadimon opened #61 "remove your branches you already merged"
to keep the repo clean, remove your branches, you already merged.

[2015-05-29 06:01] gayathery commented on #59
https://github.com/uv48uson/amos-ss15-proj3/commit/7d41bf3c27d68d83026dbe91e99f21a691c69721

[2015-05-29 06:01] #59 closed

[2015-05-29 07:38] KatsiarynaK commented on #60
ok, will ask next time

[2015-05-29 22:27] uv48uson opened #62 "Artifact Download from Console not runnung!?"
Hey guys,
I just tried to run out jar downloaded from the artifact dwnload site. However i can not run it. Has somebody else the same problem or is that an individual problem?

[2015-05-29 22:40] uv48uson opened #63 "CSV Parser"
When adding new linkage to the project, which is printed into the csv file and removing the linkage later on by manually manipulating the file, i accidentally left a blank line in there. This will cause errors while reading the csv file next time. This bug is probably not important at all, but nevertheless i wanted to share the knowledge of it being there.

[2015-05-30 19:17] yadimon commented on #63
it will be replced by DB. But csv will be loaded to db on start, so the bug is useful.

[2015-06-01 13:06] yadimon commented on #62
fixed

[2015-06-01 13:06] #62 closed

[2015-06-01 18:43] #58 closed

[2015-06-01 19:08] #53 closed

[2015-06-01 19:10] GnuTalux commented on #61
I have removed my old branches.

[2015-06-02 16:07] #61 closed

[2015-06-04 09:59] TPolzer opened #64 "No clean way of including our maven managed classes in the Eclipse plugin"
I have done some research on how to include our "main" classes (+dependencies?) in the plugin:

https://stackoverflow.com/questions/8387359/external-jars-in-eclipse-plug-in
suggests to just copy the jar around

http://robertvarttinen.blogspot.de/2007/01/adding-third-party-jar-to-your-eclipse.html
one could also make a plugin from the jar that just provides the backend functionality

http://www.sub

[2015-06-04 21:25] uv48uson commented on #64
For me the fourth possibility sounds the most reasonable. U are right, this will probably make our build process morre complicated but the rusult would be the cleanest way. On top of this: building an eclipse plugin with eclipse somehow is intuitive isn't it? This will probably preserve us from future issues with the integration.

[2015-06-05 12:46] GnuTalux opened #65 "Project won't build"
Hi guys,

I have seen, that our project structure has tremendously changed.
Was this refactoring necessary because of eclipse plugin integration?

Despite this, I cannot run mvn to build the project.
I get this error message:

[code]

[2015-06-05 13:15] GnuTalux commented on #65
Did we switched to Java 8? I guess, this might be the error ...

[2015-06-05 13:36] GnuTalux commented on #65
now mvn can build the project. I just needed to install java 8. :-)

[2015-06-05 13:36] #65 closed

[2015-06-05 14:04] GnuTalux opened #66 "Exception: hibernate.cfg.xml not found"
Hi guys,

I got the following Exception:
'''
Exception in thread "main" org.hibernate.HibernateException: /hibernate.cfg.xml not found
	at org.hibernate.internal.util.ConfigHelper.getResourceAsStream(ConfigHelper.java:173)
	at org.hibernate.cfg.Configuration.getConfigurationInputStream(Configuration.java:2095)
	at org.hibernate.cfg.Configuration.configure(Configuration.java:2076)
	at org.hibernate

[2015-06-05 14:10] GnuTalux commented on #66
If I run our application by my IDE "IntelliJ", then its working.
But if I try to run it in my terminal, i will get the previously descried exception.

Working directory is: $PATH_TO_PROJECT/amos-ss15-proj3/

[2015-06-05 14:11] GnuTalux commented on #66
But despite this, I can work on on the project :-)

[2015-06-05 16:42] gayathery opened #67 "Urgent : Master is not buildable ,cannot debug because of build error"
Project 'amos-ss15-proj3' is missing required source folder: 'src/main/resources'	amos-ss15-proj3		Build path	Build Path Problem
Project 'amos-ss15-proj3' is missing required source folder: 'src/test/resources'	amos-ss15-proj3		Build path	Build Path Problem

[2015-06-05 16:44] gayathery commented on #67
may be this could be the reason for https://github.com/uv48uson/amos-ss15-proj3/issues/66
But i am not sure

[2015-06-05 16:55] gayathery commented on #66
if the file is present in amos-ss15-proj3\hibernate.cfg.xml then it works
this can be because of problem https://github.com/uv48uson/amos-ss15-proj3/issues/67

[2015-06-05 17:41] gayathery commented on #67
@TPolzer can you please fix the classpaths. i think somewhere it had got messed up during the project structure changes you had commited to master. I am not able to debug my code any more

[2015-06-05 18:16] gayathery commented on #67
there are problems with class path because of moving the resources folder....application is in UI folder but the resources are not there. Please check before committing to master...it is blocking.

[2015-06-05 18:21] gayathery opened #68 "With the current System How to run the Application ?"
Not able to run the main class . Jar file is executing but i want to debug using main class

[2015-06-05 19:10] yadimon commented on #66
for eclipse users probably you have to look at this branch: 1419dc0620ca1eee08601e438ddc5cb262b5eeac

for intellij, probably need to get eclipse stuff and re import eclipse project.
or how i did:
in project view right click on
...gui/src/main/java -> mark directory as : sources root
...backend/src/main/java -> mark directory as : sources root
...backend/src/main/resources-> mark directory as : res

[2015-06-05 19:45] gayathery commented on #66
currently the code in 'master' is not debuggable in eclipse environment...the classpaths completely have problems and I am stuck up

[2015-06-05 20:06] #67 closed

[2015-06-05 20:08] TPolzer commented on #67
fyi: the primary build system is maven, it never stopped working.
If your eclipse build somehow breaks, just use `mvn clean package`.

[2015-06-05 20:11] TPolzer commented on #66
'amos-ss15-proj3-backend/src/main/resources/hibernate.cfg.xml' should be the correct location, '/' refers to the root of the resources folder.

[2015-06-05 20:12] TPolzer commented on #68
`mvn package` in the root project creates a runnable jar for me. Can you post your exact steps?

[2015-06-05 21:25] TPolzer commented on #66
@GnuTalux it could be that your IDE build is interfering with maven, have you tried
[code]
and then running the jar file in target/?

[2015-06-05 21:26] gayathery opened #69 "Integrated Eclipse Plugin - without Maven"
Eclipse offers simple way to develop and deliver the plugin ( Plugin development project , feature development project and update site. )

Should we integrate it as a Maven Project ( i don't find a way )
or can we develop  and deliver it without using Maven. ( we will use our project jar file inside plugin )

[2015-06-06 06:56] TPolzer commented on #69
if you look at the branch I created for Req-22, building a plugin with maven is just as easy as with eclipse, the real problem is making the dependecy explicit (see #64).

[2015-06-06 07:04] gayathery commented on #69
yeah that is right, i also meant mainly about the dependencies and also do you have any idea about packaging the plugins in maven...(i do not mean the jar) but to create a feature out of the plugin and to deploy a update site.. this is easy in eclipse without using maven

[2015-06-06 07:16] gayathery commented on #64
Simple solution would be not to refer any maven project and we create a loose coupling by using the jar file from our project as a direct dependency of the plugin project which makes solution simple and i do not think this is a bad solution. we should have three jar files then...one for the backend, one for the gui (which refers backend jar )  and one for the plugin..so that there is a clean layer

[2015-06-06 07:18] gayathery commented on #64
Though in your current solution to have 2 different maven projects , its tightly coupled to the one single jar. If your solution is to expose out jar now it contains gui also.

[2015-06-06 07:47] TPolzer commented on #64
To cleanly deliver them seperately we would have to package them all as eclipse plugins.

[2015-06-06 07:55] gayathery commented on #64
FIrst thing,  the UI jar  is depending on the backed project rather than the jar of the back-end.

For my user story, the actual plugin project i have do mote that packing the jars. There are some more dependencies that are handled by eclipse.

So i am going to create a plugin project separately but will be using the back-end jar.

[2015-06-06 07:57] gayathery commented on #64
There are more complication doing the eclipse plugin itself so don't want to add extra complexities using the maven.

[2015-06-06 08:00] TPolzer commented on #64
So you want to package the jars into the plugin and not deliver them separately?

[2015-06-06 08:02] TPolzer commented on #64
And please use the project I have already created in the Req-22 branch, you can use eclipse to manage it, but that way it remains automatically buildable (important for CI - and convenient).

[2015-06-06 08:10] gayathery commented on #64
your plugin user story is different - you are delivering the existing application as plugin.

My part is a to create a plugin to add spice functionality to eclipse editors.

[2015-06-06 10:17] yadimon commented on #64
maybe useful...
pleople building their plugins somehow:
like they here:
https://github.com/pulse00/Symfony-2-Eclipse-Plugin
or they
https://github.com/angelozerr/angularjs-eclipse

looks like they use solution nr 3.

[2015-06-06 10:23] yadimon commented on #69
i think build should be automated anyway, and nice to have it in travis too.
So maven looks like importarnt part of it.

[2015-06-06 15:05] TPolzer commented on #64
@gayathery the intent was for the Req-22 user story to build the "infrastructure" and for Req-23 to add functionality to that infrastructure.

[2015-06-07 00:18] gayathery opened #70 "The backend jar is not fully usable as standalone"
The back-end jar file is not usable independently.

To product the problem , try to use the back-end jar in a different project . What i spotted is some repository errors.

Hope, it need to be build with dependency.

[2015-06-07 00:22] gayathery opened #71 "IS it a bug or expected behavior ? - Some files show impact percentage & is grayed out ."
![image](https://cloud.githubusercontent.com/assets/11977313/8022058/a43965b8-0cbb-11e5-93ea-c2b2e471e41e.png)

Req- 63

[2015-06-07 00:51] yadimon opened #72 "Architecture, objects how we will use it."
hi,
so i want to make the backend working with objects, like hibernate objects. So that UI can work with the same objects.
Last time the decision was:
 - use hibernate for db data retrieve/save
 - use own objects for Tracker bl, to combine hibernate and git data in one object.
 - use own objects in UI (the tracker objects, decorated, probably)

Does this mean, that we need composite data objects,

[2015-06-07 00:53] yadimon commented on #71
here is still but with start of app.
you have to setup working directory your amos project folder (cloned from github).
or start the .jar from this folder.

[2015-06-07 00:58] TPolzer commented on #70
This was a conscious decision on my part, because I suspected that the third party dependencies can (and should) be pulled in separately in eclipse (I am not sure if this is true).

[2015-06-07 13:41] #71 closed

[2015-06-07 20:46] GnuTalux commented on #72
Is there a documentation about this architecture? A very simple UML or something else to get an overview about the new changes... (this would be very nice)

But as I understand facades or composites (as you suggested) could be sufficient.

[2015-06-07 20:51] TPolzer commented on #64
Today I tried to implement the solution outlined in
http://www.subshell.com/en/subshell/blog/Referencing-Maven-projects-from-Eclipse-plugins100.html
I got as far as seeing that I had to add
[code]
to the `maven-bundle-plugin` plugin configuration for it to do anything at all, but then it messed up the plugin manifest in ways such that the `eclipse-plugin` packaging refused to build it the next tim

[2015-06-07 22:10] GnuTalux opened #73 "resizeable JScrollPane and columns"
Hi guys,

I am trying to found out, how we can implement the GUI, so the columns and JScrollPane are resizeable.  Unfortunately it is not possible to use JScrollPane within JTable, which was our first idea :-( ...
As Dimitry told last time, we can use nested JSplitPane.

I have found to finished implementations
 - https://gist.github.com/pocket7878/7673893
   - Just a "MultiSplitPane.java" File an

[2015-06-07 22:27] GnuTalux commented on #73
please see commit https://github.com/uv48uson/amos-ss15-proj3/commit/cb963b15c21223ee999db72daff4fb3abf262e67

[2015-06-08 06:33] gayathery commented on #64
Figued out clean possible way to build and manage  plugin, feature and the updatesite with maven.

The projects are in the master.

Thanks for your support guys I could use tycho to successfully complete the task.

[2015-06-08 06:33] #64 closed

[2015-06-08 06:35] gayathery commented on #70
This behaves differently in the plugin environment.  So for now I am using gui jar with full dependency later we have to find a way to use backend jar

[2015-06-08 06:36] gayathery commented on #68
Thanks it works now.

[2015-06-08 06:36] #68 closed

[2015-06-08 06:37] gayathery commented on #69
Its done with maven.

[2015-06-08 06:37] #69 closed

[2015-06-08 06:45] TPolzer commented on #64
@gayathery is there a reason you did not use the projects I created and did not remove them?

[2015-06-08 07:00] gayathery commented on #64
I tried to use your project but its not ready to use stage and needed many
changes so I used a seperate one . When the new one could solve our task
and you still dont use the old one we can move to the new projects .

Was the project you started working for you?
On 8 Jun 2015 08:45, "TPolzer" <notifications@github.com> wrote:

[2015-06-08 07:02] TPolzer commented on #64
It worked for me and Travis ;) - I'll just remove it.

[2015-06-08 07:06] gayathery commented on #64
That would be nice. Yet your solution is my starting point to implement
tycho. Good work.
On 8 Jun 2015 09:02, "TPolzer" <notifications@github.com> wrote:

[2015-06-08 07:09] TPolzer commented on #64
What is that eclipse-feature for? I only used a plugin and a repository.

[2015-06-08 07:21] gayathery commented on #64
eclipse feature is something for packaging a list of plugin together and delivering it as feature. and repository for list of features. currently
To Note: with my last commit i had changed some build output paths which i will refactor soon...

[2015-06-08 08:38] TPolzer commented on #72
@yadimon the decision we reached last meeting was that we annotate objects with their source instead of differentiating them by type.

[2015-06-08 17:31] uv48uson opened #74 "UI Refactoring integration + DataElement Management"
I finished the Refatoring of the UI so far. But there's a problem:
Until now our whole Tracker/bl logic is not handling our dataElements(Commit, CommitFile, Requirement, AnnotatedLine which are currently widely spread among the project packages) correctly and everwhere. I think this should change. Until now the logic is still working with Strings for Requirements for example; nevertheless i though

[2015-06-08 21:12] yadimon commented on #72
@TPolzer what does this mean? with examples pls.

[2015-06-08 21:22] TPolzer commented on #72
This means that a persisting object has a field (probably an enum) that denotes it's source, and then the dao takes appropriate actions, e.g. if an object is to be deleted that comes from git we have to insert some kind of negative entry.

This is not the most beautiful design, but probably the one that needs the least amount of work.

[2015-06-08 22:03] GnuTalux commented on #74
I also think, that this refactoring requires changes at nearly all layers. So this could lead to many conflicts, when you try to merge.
Maybe it will be better, if we put your changes at the beginng of next sprint...
But I am not sure.
Unfortunately, we will get our last feedbacks at wednesday :-/

[2015-06-08 22:15] GnuTalux commented on #73
so far, I will reuse the MultiSplitPane.class for our current sprint.
As I see, I have to add few more code/functionality to fully achieve our needs and want, therefore I guess, it will be ok ;) ...
If someone is concerned about licensing troubles, please tell me.

[2015-06-09 05:44] TPolzer commented on #73
What is the license for that MultiSplitPane.java?

[2015-06-09 06:58] gayathery commented on #74
Yes it is a huge refactoring. I even think of some more improvements in the
backend code. The code is of little useful now to be used in another UI.

For timebeing I copied the Ui methods to backend which would have spead the
ui data elements that serves to give requirements to line number mapping.
Reg refactoring:
Its depends on how much you could work for this sprint ,still maintaining
the state

[2015-06-09 09:18] gayathery opened #75 "Hibernate session closed before the operation completes."
The GUIController instance starts a new Thread but the session is closed at the return of the gui instance.

[2015-06-09 09:21] gayathery opened #76 "Hibernate config file security issue."
The current source control does not maintain the hibernate config file. It has to be manually put by he developers for build the deploy-able jar. Creates effort and error prone

[2015-06-09 09:32] #75 closed

[2015-06-09 09:33] #76 closed

[2015-06-09 09:34] GnuTalux commented on #73
I don't know. I could not find anything about it.

[2015-06-09 22:11] #48 closed

[2015-06-09 22:11] #46 closed

[2015-06-10 07:14] TPolzer opened #77 "Javafx exception on startup"
On application startup I immediately get the following:
[code]

When I then select the requirements tab in the application I just get a blank tab.

[2015-06-10 21:11] KatsiarynaK opened #78 "Full traceability"
The first issue that was noticed that our traceability matrix contains a lot of 0 (zeroes). There are many requirements which were not reflected in source code files and vice versa, there are many source code files that don’t have any connection to any requirement.
This is wrong.
The whole traceability logic implies that in order to implement EACH requirement AT LEAST one source code file was chan

[2015-06-10 21:11] KatsiarynaK opened #79 "Code lines affected by several requirements"
The second problem we have is that when the file line was written because the req-1, and later on was changed by req-2, we only keep the information about the last requirement that affected the line. What the customer wants is that the req-1 and req-2 were displayed to the left of the affected code line.

[2015-06-10 22:08] uv48uson commented on #78
Hey,
first of all i totally agree to gayathery. github and skype if
necerssary tommorrow(today) afternoon is fine.
Flo

Am 10.06.2015 um 23:11 schrieb KatsiarynaK:

[2015-06-10 22:09] uv48uson commented on #78
It is not correct what u are saying. A merge does not delete anything. Moves are the problem. Thats the way i understood it until now. By the way, we were not concered about merges at all because so far u(i i sould say the industry partner) said we should concentrate on other things.

[2015-06-10 22:13] uv48uson commented on #78
well mergeing could also be the problem because if both branches make modifications on the same file ...

[2015-06-10 22:14] uv48uson commented on #79
not correct. else there would not exist a single line in any file with more than one req annotated. but there are

[2015-06-11 03:06] gayathery commented on #78
The problem is with moving of files and also when a line is modified for a requirement and later modified for a bug fix (the commit does not have a requirement  id) then the old info is lost because internally it means that the original line for the requirement is no more there in the current file.  Logically seeing it is correct. For example for Req 1 a set of lines could have been added and late

[2015-06-11 03:12] gayathery commented on #78
I think this issue is mainly related to issue 79

[2015-06-11 03:23] gayathery commented on #78
But if it is still required to give all requirements which influenced a file it is possible and in fact was our logic in the initial stage of our project.  The thing to keep in mind is. .in that case the results for a requirements will be referring to an old deleted file which is not there in the repository.

[2015-06-11 07:03] TPolzer commented on #79
This is correct and not easily fixed because to fix this we would have to differentiate between changed and deleted lines.

[2015-06-11 07:27] TPolzer commented on #78
So much wrong information in one place.

- Merging is not an issue at all, it just looks that way in our current history, because we had merges where there were line ending style conflicts that were (presumably automatically) fixed (and that way "change" half the lines). At some point I gave up on convincing everybody to use unix style line endings.
- Moving is not a little bit of an issue, the re

[2015-06-11 08:53] KatsiarynaK commented on #78
Glad to hear that merging is not a problem, it means that we can resolve the situation ))

If you say that only the movement of file is the reason, than lets focus on this, because otherwise, the soft doesn’t provide required functionality of tracing requirements and their implementation.

Simple example:

User story #5 says that the linkage between file and commit must be in our software, indeed,

[2015-06-11 08:56] KatsiarynaK commented on #79
The recognition between changing and deleting lines is a core feature of the software, therefore, it must be implemented.
Tobias, could you asses what should be done for it and how much efforts it required?

[2015-06-11 10:14] TPolzer commented on #79
As I understood the industry partner at the first meeting this is actually not a core feature but something that can be thought about when the core features are working. Has this changed?

If we wanted some kind of word based blame there are several things that we would need to do:
- define what constitutes a word: not much effort but requires some thought
- insert line breaks between words in mem

[2015-06-11 10:28] KatsiarynaK opened #80 "Requirements to file linkage"
Basically, the customer doesn’t require the linkage between req. and file itself, but what he really wants is that the soft could trace and analyze changes on the level of each code line (remember the first meeting with the industry partner), req to file linkage is just a means for implementing the feature.

What the industry partner wants is that the soft could analyze the following changes:

SIT

[2015-06-11 19:56] yadimon commented on #80
Here is general structure we can use, to handle non changeble data (like git or gira), and change it by rules.

![structure1](https://cloud.githubusercontent.com/assets/4369489/8116797/69b1d5ac-1084-11e5-8623-8e75471e595b.png)

[2015-06-11 20:20] TPolzer commented on #80
@KatsiarynaK isn't this example exactly what you said in #79?
@yadimon I think the mutable DataSource should also be a DataSource, Tracker was meant as a facade and IMHO should not come into play here.

[2015-06-11 20:41] gayathery commented on #80
I am really sckeptical whether it really addresses the actual requirements of the industry partner.

[2015-06-11 21:25] KatsiarynaK commented on #80
@TPolzer yes, the first example illustrates #79

@gayathery could you clarify your concerns?

[2015-06-12 13:13] #72 closed

[2015-06-12 14:08] yadimon opened #81 "New architecture (new BP reqs), your opinion."
Because of new requirements from BP, we have to build new logic of the software.
I cant get it alone, and want to ask you how you see it.

We need somehow magically track the impact, by every commit. Even by moved files. We have to define what lines are changed, not added/removed (maybe jgit helps)

for now i think that we need at least something like this (pseudocode):

[code]

The `calculateStat

[2015-06-12 14:15] TPolzer commented on #81
I am already in the process right now of reimplementing the blame logic so that we can track for each word in which commit it originated. What you are suggesting is essentially blame for a linear history.

[2015-06-12 14:38] yadimon commented on #81
it should: track merges, moves, line changes (not only added/removed) and what changes (probably what you do now with words) and know about rules, like "this line is not the requirement by this commit" or "this line will be only the 1 requirement all the time, until removed"
Do you thinks its possible by your implementation? (not now, but later)

[2015-06-12 15:51] TPolzer commented on #81
A first implementation will only track words, detecting renames should be easy to add afterwards.
On the other hand I do not know how to add line copy / move detection logic, but when we have a base implementation we can later add bells and whistles.
The blame logic will not be responsible for tracking things like removed requirements, it will just tell you what commit created a word.

[2015-06-12 16:45] #77 closed

[2015-06-12 17:29] yadimon commented on #81
ok, i see, we talking about different things.
you talk about blame only.  We have to know about moved/changed lines etc.
i talk about all in one, blame + logic of req-line relation by every commit.
This is what should be done too, independent of blame, but dependent on rules, git commits, jira info.
Slowly i see the one possible solution :)
*edited pseudo code again*

[2015-06-12 19:11] GnuTalux commented on #78
I think, we are at a point, where massive usage of a database like dimitry suggested earlier, will be a solution.
To solve the "move" issue, we could iterate over every revision to track the changes.
So we can see, which file is moved or renamed... I am really confused, why git doesn't store renaming of files.

[2015-06-12 19:16] GnuTalux commented on #79
sounds like a huge redesign.
How can I help?

[2015-06-12 19:19] GnuTalux commented on #81
how can I contribute? Who is doing what?

[2015-06-12 19:29] yadimon commented on #81
for now its just a decision, if the architecture is ok.
Tobias do the new blame logic.
Others, dont know. I would like to implement basic architecture without logic. And try to adjust it with new GUI branch.
The hard logic is todo for everyone.
But first, is it ok? Do we want begin with the architecture? Maybe some better solutions? maybe some mistakes in this architecture?

[2015-06-12 20:22] gayathery commented on #81
Its not a good idea to refactor or change the architecture right now.

First we try to solve the problem , like the logical way to solve.

The new architecture would bring more confusion rather solving the current  problem.

[2015-06-12 22:06] yadimon commented on #81
@gayathery this architecture is needed to solve the problem :/
it does not change tracker so much (so no big refactoring)
we don't need rules for now.
we don't need hard logic for now.
i can implement simple version of it.

[2015-06-14 10:15] gayathery opened #82 "Eclipse Plugin : Merge all the Configuration settings into one."
The current Plugin has different Menu to support the basic plugin configuration. This usability is low.

[2015-06-14 11:05] gayathery commented on #82
https://github.com/uv48uson/amos-ss15-proj3/commit/85f99bfed98cf4e91a185076154d9436b462f284

[2015-06-14 11:05] #82 closed

[2015-06-14 13:47] uv48uson commented on #81
For now i'm a bit worried. I'd really like to integrate the new UI design this sprint. Otherwise it will be more and more upcoming work each sprint to keep it up-to-date. Unfortunately this is dependend on the state of the BL refactoring. So, whats the current state and idea of integration...?

[2015-06-14 15:03] yadimon commented on #81
i ll try to integrate today, with or without new bl. (tracker will be like the same)

[2015-06-14 15:51] gayathery commented on #81
@yadimon  I am not able to fit in the architectural changes suggested by you. But if you are able to solve any of the problems as requested by the Industry Partner its well and good.

[2015-06-14 18:12] gayathery commented on #81
@uv48uson  I would suggest you could commit your work if it complies to our agreements.
Guys working on big changes please consider to incorporate Florians changes. Ones after you make changes it would be very hard for Florian to integrate his changes.

[2015-06-15 07:24] gayathery opened #83 "State of our application after the last commit for Req-37"
Team,

The application is missing many features and some not working after the last big refactoring

Here are the problems i found out

1 . Search requirement by requirement ID not working
2.  Navigate from commit is back. ( which we removed )
3.  Navigate from Requirement ID is not working ( which was developed 4 sprints ago and its our core of the application functionality )
4. Add Linkage is st

[2015-06-15 08:49] uv48uson commented on #83
Dimitry merged this yesterday evening. I thought he would merge to a seperate branch req-37. but no we must work with this. Im going to fix as many bugs as possible the next 2 days. Hope its up to date until wednesday.

[2015-06-15 14:02] GnuTalux commented on #83
I thnik, we are overdoing refactoring.
Currently the resize-able gui columns are removed and
I cannot effectivly work on the project.

In ```RegistrySettings.java``` the class ```AppProperties``` cannot be imported
and in ```amos-ss15-proj3-eclipse-plugin/pom.xml``` there are
invalid tags. My editors says, that ```<environments>``` within ```<configuration>``` is not allowed.

I have re set up my

[2015-06-15 14:05] GnuTalux commented on #83
I know, that I have to create a JAR-Archive at ```amos-ss15-proj3-eclipse-plugin/lib/amos-ss15-proj3-gui-1.0-SNAPSHOT-jar-with-dependencies.jar```.

[2015-06-15 14:32] GnuTalux opened #84 "How can I install our plugin in eclipse"
Hi guys,

I have tried to install our amos-eclipse-plugin in eclipse.
I went to 'Help'>'Install New Software'>'Add'>'Archive'

I selected the file "[ABSOLUTE_PATH]/amos-ss15-proj3-eclipse-plugin/target/amos-ss15-proj3-eclipse-plugin-1.0.0.jar"

![struggling_to_install_our_eclipse_plugin](https://cloud.githubusercontent.com/assets/1008351/8162200/16795608-137c-11e5-98c1-485d9c059bb5.png)

What shou

[2015-06-15 15:08] GnuTalux opened #85 "project is very confusing"
Hi guys,

I am trying to work on the project for over several hours and I have not done any progress.
I just wanted to quickly implement "impact value" in tool-tip and go on to next requirements...
but currently I am searching through all code lines and trying to understand how to
retrieve impact value.
There is the Matrix-class, which somehow stores impact value.. is this true?

Could anyone tell

[2015-06-15 15:12] GnuTalux commented on #85
OK,

maybe I found it by myself:

[2015-06-15 15:12] #85 closed

[2015-06-15 15:16] gayathery commented on #84
Point to plugin project /target/repository

[2015-06-15 15:55] GnuTalux commented on #84
sorry, what did you mean with repository?
the jar file?

[2015-06-15 16:15] GnuTalux commented on #83
@uv48uson Do you need some help?
Which problems are still open?

[2015-06-15 16:31] TPolzer opened #86 "Req-55 "Requirement description in IDE""
@GnuTalux please have a look at 08a9d5f58551d4fe46429716085816d57a00e41c and at the sprint backlog. It says there:

As a user I can see the description of requirements in Eclipse so that I can identify requirements more easily.

I am somehow confused how that fits with fd2ca565f33cc4c6f40f3d19972dfb9a005805d9?

[2015-06-15 18:31] uv48uson commented on #83
im still working on updated branch req 37. The branch is in the same state of master. im currently trying to fix everything there. If u have spare time i would appreciate your help. just pick up any of the points gayathery wrote or anything else u noticed, which is not running yet. thx

[2015-06-15 18:56] yadimon commented on #83
sry, but must be in master, otherwise all the work should be applied to the new architecture again and again .. every time double work. If big refactoring, that asap, so everyone can work on it. Or just no refactoring (maybe later).
UI design is not fully merged yet, pls wait until merge is ready if you work with/on UI.
Tracker will be the same (with deprecated old functions, and new), after struc

[2015-06-15 20:17] GnuTalux commented on #83
ok, if it is ok, I would start with the issues 1-3.
If you have already done any of them, I would just move to the remaining isusses. I will start working on this tomorrow.
Hopfully you will inform me :)

[2015-06-15 20:23] GnuTalux commented on #86
I thought, that I have to implement Req-55.
But as I see, you have already included it in your implementation.
Feel free to discard/overwrite my changes :)

[2015-06-15 20:47] GnuTalux commented on #86
I hope you don't forget to include the impact value :-)

[2015-06-16 04:44] #86 closed

[2015-06-16 10:45] TPolzer opened #87 "Hibernate session usage harmful for performance"
I have noticed that our database performs quite poorly right now.

I think it might be related to our usage of `Session`,  see http://docs.jboss.org/hibernate/orm/4.2/devguide/en-US/html/ch02.html#session-per-operation.

[2015-06-16 12:21] uv48uson commented on #83
issue 5 done.
i'll try to understand the problem with 6.
dimitry, if u can pls have a look at 4 since this was initally your user story

[2015-06-16 13:00] GnuTalux commented on #83
I am trying to add MouseListner for 3).
unfortunatly I don't really understand the new architecture.
Where I have to put/define a MouseListner.

[2015-06-16 13:10] TPolzer commented on #83
@GnuTalux please do not define a `MouseListener`. `ListSelectionListener` is what we want here.

[2015-06-16 13:36] GnuTalux commented on #83
ok. @uv48uson will take care of this :-)

[2015-06-16 15:34] GnuTalux commented on #83
fixed 1) 2) and resizeable scrollpane eb7836bf00bc25f211fdff50e56b741f7edaaa4a
(I made a mistake and wrote in commit message "Issue-83" instead of "Issue 83",
therefore I put it here by hand)

[2015-06-16 16:40] uv48uson commented on #83
I fixed 3

[2015-06-16 16:42] uv48uson commented on #83
one problem: there seems to be a bug in getting commits from tracker. therefore commits are not shown right know. Dimitry can u hava a look at the required tracker methods. or i think there is a Requirement class internal method called getCommits with is not wirking!?

[2015-06-16 18:29] uv48uson commented on #83
fixed 6

[2015-06-18 08:38] uv48uson commented on #83
@yadimon can u please have a look at the getCommits method and wether it's working correctly!?

by today evening i'll commit to brnach 62 a tabbed version of the ui. to show the usage of the new architecture. There will be an additional tab for requirement details, as u requested. Pls have a look at it for future implementation.

[2015-06-18 11:49] uv48uson commented on #83
committed. not correctly formatted. I thought this would not be important for demonstration

[2015-06-19 00:49] yadimon commented on #83
@uv48uson  getCommits  should work properly. It gets commits from VCS, like before.
But we tried to have hibernate-like objects. And it will be very very hard to achieve.
So things like `req.getCommits()` will be not possible. Its hard to generate bidirectional linkage between our generated objects. (req has commits, each of his commit has reqs, each his reqs has commits etc. .. )
That means, to g

[2015-06-19 09:44] uv48uson commented on #83
np. But in the tracker adapter u wrote there is the function req.getCommits() used i think. Can u fix this?

[2015-06-19 17:33] yadimon commented on #87
i think we should use code like this: (but without complicated factories, just for dao)
https://developer.jboss.org/wiki/GenericDataAccessObjects

[2015-06-19 22:42] gayathery opened #88 "Reuse the progressbar and Traceability Matrix from the core application"

[2015-06-19 22:47] #88 closed

[2015-06-21 19:50] yadimon opened #89 "Design ( yes:) ) problem."
We have Hibernate objects Commit and Req. The objects have birectional linkage to each other. (so by `req.getCommits()` you get commit objects. Each of them has `commit.getReqs()`, so you get the full req objects, and so on..)
We want our own objects, that contains combined data (db + vcs)
Our object e.g. Commit, will not contain the Req objects, but will have method like .getReqIds(), because its

[2015-06-21 22:28] #81 closed

[2015-06-22 13:57] yadimon opened #90 "gui: doulbe call of action in ElementHandler.java"
if you set debug point to ElementHandler.java line 56 and click on some requirement in gui, the action will be run twice.

[2015-06-22 14:42] yadimon opened #91 "navigate from files. Some files have no commit"
Gui: navigate from file.
click on first (pom.xml) -> many requirements.

click on some real file we have, like *"amos-ss15-proj3-backend\src\main\java\de\fau\osr\core\db\DBOperation.java"*
no commits in list.

the method of `GitVcsClient.java#getCommitListForFileodification()`
returns empty list(iterator) of commits for *"amos-ss15-proj3-backend\src\main\java\de\fau\osr\core\db\DBOperation.java"*

[2015-06-22 14:42] #89 closed

[2015-06-22 18:22] yadimon commented on #83
fixed by 7214def344fe8e90d0c38fece5a28650670ddbad

[2015-06-23 09:24] GnuTalux opened #92 "getting commit id for given filepath"
Hi guys,
I am working on Req-68.

As I know ```Tracker.getAllFiles()``` doesn't work correctly, because of showing deleted files and old file paths of moved files.

I think, I should re-implemented ```Tracker.getAllFiles()``` so it iterates over existing project directories and retries for each file path the related commit id.
Can I use the Method ```GitVcsClient.java#getCommitListForFileodificati

[2015-06-23 09:34] GnuTalux commented on #92
ok guys,
maybe I found a solution by my own.
Due to further "investigation" I found following to functions, which sound very promising:
```Tracker.getCommitsFromFile```
```Tracker.getAllRequirementsForFile```

BTW: I would really appreciate, if we try to give our methods similar names.
e.g.: I would have named them:
```Tracker.getCommitsForFile```
```Tracker.getRequirementsForFile```
or
```Tracker

[2015-06-23 12:41] yadimon commented on #92
there should be more methods like "*getAllCommitFiles()*" or "*getCurrentCommitFiles()*".
if you change tacker, pls be careful with renaming, better way is to let the old method names, mark them `/** @deprecated /*`and inclue there the new methods. Later, in the next sprint, remove the deprecated methods.
Need this because e.g. somebody works with plugin, that uses this methods in own branch. Merg

[2015-06-23 12:56] gayathery opened #93 "Implement JUnit Test"

[2015-06-23 13:06] TPolzer opened #94 "Integrate new blame with Tracker"
In a48b2d4566b56ba33b529ad31f52218afe332d91 I have implemented the necessary logic to connect the new blame with Tracker. It turns out however, that the tests for Tracker are tied to the current implementation in ways that I do not understand (some mock objects clash with real objects...).

@yadimon could you fix this, i.e. just call the new wordBlame from Tracker and adapt the tests?

[2015-06-23 15:10] GnuTalux commented on #92
Now I have similar issues:
```Tracker.getCommitsFromFile``` and ```Tracker.getAllRequirementsForFile``` doesn't return
anything :-/ ...

if ```Tracker`` doesn't provides a working function for getting CommitFile, Req or Commit for a given File path, I will implement it by myself.
Does anyone has an idea, why ```Tracker.getCommitsFromFile``` and ```Tracker.getAllRequirementsForFile``` is not return

[2015-06-23 15:35] TPolzer commented on #94
If somebody knows how to modify the Tracker tests, this is needed for integration in Tracker:
[code]

[2015-06-23 16:00] GnuTalux commented on #94
nice to hear, that I am not the only one having troubles modifying TrackerTest ^^

[2015-06-23 16:12] yadimon commented on #94
@TPolzer  i ll try to fix today.

[2015-06-23 16:31] GnuTalux commented on #94
If I am finished with my implementation (which I want to put in Tracker),
I will test it.
As I look over the TrackerTest, I had no idea, how I can test my code in future.
:))

but, as I see, I will commit (currently not finsihed) implementation to next sprint.

@yadimon thank for wanting to help me

[2015-06-23 17:03] yadimon commented on #94
@TPolzer did you change the Test repo from resources?
pls dont change it, many tests are based on it. So create new one (even if its similar one), or better, create bigger one.

[2015-06-23 17:36] TPolzer commented on #94
I changed it after confirming that all tests still pass.

[2015-06-23 17:37] TPolzer commented on #94
Feel free to put it in an extra repository if something breaks for you.

[2015-06-24 00:31] yadimon commented on #94
merged by e03236e2305b0e58254ba0f4374e113046d70d15
but i think we have to write for the blame and the matrix much more good tests.

[2015-06-24 05:53] #94 closed

[2015-06-24 05:54] TPolzer commented on #94
Thank you.

[2015-06-24 07:23] KatsiarynaK opened #95 "The affect of a requirement on a file is calclated wrong"
If there are empty lines in the file, the application doesnt recognize that they shoul not participate in the  calculation of the affect of a requirement on a file.
for example, if the file has 9 code lines and 1 enpty line, and it was affected by one requrement, the application calculated the affect as 90 % instead of 100%

See example:
http://gyazo.com/dfb88827e37ddd544549badc861cd39e

[2015-06-24 07:27] KatsiarynaK opened #96 "Old issues are back after the refactoring"
The problems described in the user strories 63, 52 are back after the refactoring

[2015-06-24 07:38] KatsiarynaK opened #97 "Wrong requirements order in the traceability matrix"
After the requirement 1 goes req 10, req 2 goes after 19 and before 20, etc.

[2015-06-24 07:38] kaobizz opened #98 "Req27- Impact analysis report"
It take so long to open Traceability Matrix

[2015-06-24 07:45] kaobizz opened #99 "Req52: Left alignment"
Alignment of file names in traceability matrix is "right aligned" instead of "left aligned"

[2015-06-24 07:46] #55 closed

[2015-06-24 07:46] #60 closed

[2015-06-24 07:46] KatsiarynaK opened #100 "Commit column disappears"
1. start the application
2. click on req number. result - all commits and corresponding files are displayed (OK!)
3. click on a file title. result - the file content is displayed, but the commit column is empty

expected:
the column "commit" displays commit(s), which affected the chosen file

[2015-06-24 07:46] #66 closed

[2015-06-24 07:47] #70 closed

[2015-06-24 07:52] KatsiarynaK opened #101 "If a code line of the file was affected by several requirements, the impact of the last requirement is not calculated"
Example: the file Tracker.java was affected by req 37, than by req 70.

the impact of req 70 is not calculated

http://gyazo.com/1b238907c9ea5affe8a15beb1fcf9223

[2015-06-24 07:56] kaobizz opened #102 "Most of Req eg 1,2,3,9,12,44,48 don't show neither commits nor file names"

[2015-06-24 08:04] kaobizz opened #103 "Clicking from one Req to another Req sometimes need to wait so long until it open"

[2015-06-24 08:05] kaobizz commented on #103
example Req 13 take more than 3 minutes to wait

[2015-06-24 08:12] TPolzer commented on #102
Those requirements do not have any associated commits or files, so the result is accurate.

[2015-06-24 08:13] TPolzer commented on #102
@gayathery just suggested that consequently, we should remove those requirements from the database.

[2015-06-24 08:14] TPolzer commented on #95
This should not be that hard to fix, I will fix it on Friday.

[2015-06-24 08:16] TPolzer commented on #96
Just for reference, those are:

63: As a user, I want to see only one digit after the comma so that the GUI is not too cluttered.

52: As I user I want the system to store additional information about my requirements, so that I can see more than a requirement ID

[2015-06-24 08:29] kaobizz opened #104 "Req 54 - 70 don't have names and description"

[2015-06-24 08:53] kaobizz opened #105 "Navigate from files, Commit and requirements ID disapper"

[2015-06-24 09:17] kaobizz opened #106 "Req63: Traceability matrix, more digits still display after comma"
As a user, I want to see only one digit after the comma so that the GUI is not too cluttered.

[2015-06-24 09:36] TPolzer commented on #106
duplicate of #96

[2015-06-24 11:19] KatsiarynaK commented on #96
52. As a user, I want to to have a  "left-aligned" alignment of file names in traceability matrix

[2015-06-24 11:33] KatsiarynaK commented on #101
Before the commit is selected, the impact percentage looks OK

[2015-06-24 11:42] TPolzer opened #107 "new blame in eclipse"
In my testing eclipse still calculates blame the old style.

@gayathery agreed to debug this.

[2015-06-24 20:13] KatsiarynaK opened #108 "Chosen file does not differ from others"
When a user clicks on the file title to see the file content, the file title should become limbate (have a border)

[2015-06-25 16:31] #54 closed

[2015-06-26 09:50] gayathery commented on #107
In order to reflect the changes in each builds,

1 . Uninstall the current plugin installation.
2. Check if amos-ss15-proj3-eclipse-plugin_1.0.0.jar is deleted in eclipse / plugins folder manually.
3. Before installing new plugin - clear the maven repository - in .m2\repository\de
4. Now proceed with the plugin installation.

[2015-06-26 09:50] #107 closed

[2015-06-26 09:53] gayathery opened #109 "Build Warnings with the missing version in eclipse plugin project"

[2015-06-26 11:25] TPolzer commented on #107
Why do you clean the maven repository? Nothing in there is executed by the eclipse plugin I think?

[2015-06-26 11:31] TPolzer opened #110 "Eclipse plugin cannot be updated from eclipse"
As @gayathery said in #107 and @akaTJ and me discussed last week, it seems that if one uninstalls our plugin from within eclipse and tries to install the new one, (sometimes?) eclipse just uses the old jar.

After reading this:
https://www.eclipse.org/forums/index.php/t/96660/
I suspect that we would need to increase our version number.

[2015-06-26 11:32] TPolzer commented on #110
https://www.eclipse.org/forums/index.php?t=msg&th=311066&goto=822551&#msg_822551
tells me that we can also just use the 'dropins' folder for testing.

[2015-06-26 11:36] gayathery commented on #107
Untill we upgrade our version number eclipse thinks its same version of the
plugin.
On 26 Jun 2015 13:25, "TPolzer" <notifications@github.com> wrote:

[2015-06-26 11:37] gayathery commented on #110
Yes we can use dropins folder.
And also, for every new release we should increase the version number .
On 26 Jun 2015 13:32, "TPolzer" <notifications@github.com> wrote:

[2015-06-26 22:14] yadimon opened #111 "make swing ui more beautiful"
maybe it is possible to make the borders smaller?
i did not find the setting.
UI looks somehow not nicely.. maybe we can make it more beautiful, your suggestions?

[2015-06-27 15:11] #109 closed

[2015-06-27 15:15] gayathery commented on #96
https://github.com/uv48uson/amos-ss15-proj3/commit/2c5888f01b8383e626cd2d0ec8822136e3e2af6f

https://github.com/uv48uson/amos-ss15-proj3/commit/0b8257b7dd7f75d176650c505aff6eaac95a0f96

[2015-06-27 15:15] #96 closed

[2015-06-27 15:17] gayathery commented on #106
https://github.com/uv48uson/amos-ss15-proj3/commit/2c5888f01b8383e626cd2d0ec8822136e3e2af6f

[2015-06-27 15:17] #106 closed

[2015-06-27 16:06] gayathery opened #112 "Bug in New blame logic"
The new blame logic is not working correctly. A line should be associated with a requirement only when it has at least some words or letters related to that requirement and is currently existing. The current blame logic shows a line to be associated with a requirement even when there is no letter or word is related to that requirement. The bug can be seen as per the image attached
![newblamelogic_

[2015-06-27 16:11] gayathery opened #113 "Performance of application is very slow."
When any Requirement is clicked it takes nearly a minute to display its associated commits and changes. And after than when the file is clicked again it takes some seconds before the actual changes could be seen. I think as a user this will be annoying.

[2015-06-27 16:38] gayathery opened #114 "Wrong lines are shown for requirement impact"
Sometimes some lines are shown to be  changed for a requirement but that line was not modified for that requirement. A sample is shown in the image below.
![newblamelogic_bug2](https://cloud.githubusercontent.com/assets/11977313/8392971/9b880cee-1cfb-11e5-9413-d0a94a8b8b47.png)

[2015-06-27 16:52] TPolzer commented on #114
Duplicate of #112. Closing.

[2015-06-27 16:53] TPolzer commented on #112
I fear that this is not easily solved, as the current interpretation of the word wise logic is that 'de.fau.osr.core.vcs.impl.GitBlameOperation;\nimport ' was inserted for that requirement.

[2015-06-27 17:16] gayathery commented on #112
But If it is not solved, it gives a wrong interpretation and misleading to the user

[2015-06-27 17:21] gayathery commented on #114
This is not in fact a duplicate of #112 but this is a difference issue. This issue deals with showing a requirement which modified the line in the past but the words in the current line are no way related to it and #112 is related to showing a line which was not at all changed for that requirement. The impact percentage is wrongly calculated because of this and the difference in impact percentage

[2015-06-27 17:24] TPolzer commented on #114
If you read my comment in #112  you would see that it is exactly the same problem. I said there:
"[...] the current interpretation of the word wise logic is that 'de.fau.osr.core.vcs.impl.GitBlameOperation;\nimport ' was inserted for that requirement.".
Both observations you made stem from this one single issue.

[2015-06-27 17:27] gayathery commented on #114
I accept that the source of the issue might be the same, but from the user point of view, these are two different issues..we dont know whether a solution to one issue solves the other. so it is better to keep the issue under tracking until both problems are solved from user perspective

[2015-06-27 17:32] gayathery opened #115 "Application Landing Screen for application Initial configuration"

[2015-06-27 19:50] TPolzer commented on #114
It is the same issue. I know.

[2015-06-27 21:24] gayathery commented on #101
The problem was not with last requirement. But impact percentage calculation was not done when a commit is selected in the application. With the fix, this is implemented

[2015-06-27 21:24] #101 closed

[2015-06-28 01:06] gayathery opened #116 "Requirement Pattern for filtering Requirements are not working correctly"
Any change to the requirement pattern is not reflecting the requirements listed.
Every time it returns some random result.

[2015-06-28 01:08] gayathery commented on #116
@yadimon  could you have a look into this issue. I don't understand how the current requirements are displayed.

[2015-06-28 03:54] yadimon opened #117 "traceabilit matrix menu, starts 2 progressbars"
click on menu Tools -> TraceabilityMatrix ->  TraceabilityMatrix by Impact: you will get 2 matrix progressbars at the same place. You can move one to see the another one.

[2015-06-28 09:53] gayathery opened #118 "GUI Application architecture complexity - performance problem"
These are the problems with our current application that is heavily causing performance issues:

- The average call stack for a single method  call in the UI is more than 20.
- To bring a new data from Business logic to UI , it needs implementation at least in 6 -10 layers.
- On an average of 15 application active user session , The methods in element converters alone takes avg 2 minutes of the pr

[2015-06-28 12:01] #111 closed

[2015-06-28 12:16] yadimon commented on #118
any suggestions for a solution?

[2015-06-28 12:26] akaTJ commented on #118
This seems to me like an implementation issue. How can I as a PO help?

[2015-06-28 13:03] gayathery commented on #118
@akaTJ  I had wrongly assigned.

@yadimon  I am also working on alternate solution to increase performance without changing current architecture

[2015-06-28 15:51] GnuTalux commented on #100
I found the issue.

It is due to missing implementaion of ```equals``` within class ```Commit``` which extends ```DataElements```.

@gayathery: I have implemented ```equals``` and now I see, that you also did it.
But your ```equals`` returns everytime ```False``` for equal commits (equal id and message).
I don't know, what your intention was to implement a pretty complex ```equal``` method, but
du

[2015-06-28 15:52] GnuTalux commented on #113
What I saw is, that if req is clicked the same method will be called multiple times.

[2015-06-28 15:59] GnuTalux commented on #113
do you think, that indexing is the key solution for our performance issue?
It think its now a lot slower :-/

I think, it would be better to discuss issues like this in team. Maybe then we could made up a well fitted solution?

[2015-06-28 16:08] GnuTalux opened #119 "Is class CommitFile really needed?"
Hi guys,

I will work on Req-68. (remain linkage between moved/renamed files)

My approach is, to traverse over the current project directory and get required information
from existing filepaths.

e.g.:
```Tracker.getAllFiles``` currently returns all ever existed files (old paths of renamed/moved) will be returned, which leads to the issue behind Req-68.
After my implementation ```Tracker.getAllFi

[2015-06-28 16:15] gayathery commented on #119
The Class CommitFile is required

[2015-06-28 16:21] gayathery commented on #113
@GnuTalux  Actually the performance is not changed during indexing. I have calculated the timings and in fact the application in the first 10 minutes has not changed. and after 10 minutes it had lot improved. Because of the indexing implementation i do not find any performance issues in existing application. The complete indexing is taking place in a separate background thread. Regarding the same

[2015-06-28 16:22] GnuTalux commented on #119
Ok, I understand, currently it is implemented to use that class.
But is it ok, to change it. Or does all algorithms base on CommitFile?

Let assume, we get all existing fie paths. How can I fit them into the current architecture?
Just instantiating a CommitFile object from file path, wouldn't be sufficient, is it?

[2015-06-28 16:24] GnuTalux commented on #100
@gayathery Are changes I made in ```Commit.equals``` is ok for you?

[2015-06-28 16:25] TPolzer commented on #119
The class `CommitFile` is used in a lot of places, but I do not see any necessity to have `getAllFiles` return `CommitFile` objects. The `getAllFiles` method is only used for listing files, and `CommitFile` is really not suited to that task.

[2015-06-28 16:26] gayathery commented on #100
@GnuTalux   The problem that "instanceRequirement" is null sometimes and not null sometimes is little tricky. because even i saw this issue but the new UI architecture is so complex to modify something. I had seen that when user clicks on a requirement in the application, firstly there are a set of commitfiles list created which does not have impact and other data and there is no relationship exis

[2015-06-28 16:27] GnuTalux commented on #113
yes, the issue of "multiple times calling the same methods" originates before your indexer implementation.
I just mentioned it here, to inform everyone.

[2015-06-28 16:28] GnuTalux commented on #119
thanks, this is good to know!

[2015-06-28 16:30] gayathery commented on #113
@GnuTalux  when we take objects from the BL where relationship exists between them, the layers should not spoil their relationship, but current architecture dilutes the relationship between them and when it reaches the UI, again all relationships are being tried to be created. This is the root cause of the performance. this can be solved only by changing the architecture, but i do not want to take

[2015-06-28 16:30] yadimon commented on #113
maybe helps to improve performance:

the problem is still by Tracker#getBlame()
it takes much time, for wordBlame and jgit.diff
here example of indexing worker, after 13m of running.
http://sro-account.de/filez/amos/Call_Tree_13m.html
![profile](https://cloud.githubusercontent.com/assets/4369489/8397160/4d4d27e0-1dc2-11e5-9598-a020e73754d5.png)

here is the state after 20 minutes.
still 16th req i

[2015-06-28 16:33] yadimon commented on #119
probably you should add something like `getCurrentFiles` that returnrs `File` and not `CommitFile`
than you have to adapt GUI for it (probably will be hard)

[2015-06-28 16:38] gayathery commented on #113
@yadimon can you also please check the time taken for first indexing without profiling attached...so that i can get and idea. For me it took around 10 to 11 minutes for first indexing to complete. Anyway i am working on some more things to reduce this time. but as test it would be good if you can send me some information about the time takes at your side for indexing

[2015-06-28 16:42] TPolzer commented on #113
So after recognizing that our application already has an overcomplex structure that makes it difficult to program tasks efficiently, you decided to just throw some more code at it without discussing this at all (there is not even a user story for this... even though it would probably make sense)?

We would gain a lot more speed if we actually reduced computing effort instead of caching it, RAM is

[2015-06-28 16:43] TPolzer commented on #113
And if you actually want to cache things, please think about _what_, e.g. just collect blame for each file (that is expensive to compute and can be reused for a lot of other things).

[2015-06-28 16:48] gayathery commented on #113
As provided in the commit of the indexing implementation, This is only the first implementation, I am still working on this. Of course it is not the final solution to improve the performance. BL processing should be improved too. our application triggers a lot of redundant computation, and the indexing feature avoids it as of now. because after indexing and when no changes are there to the underly

[2015-06-28 17:14] gayathery commented on #113
@TPolzer There are also some serious performance issues with getBlame logic as told by @yadimon .I guess you are working on it to improve the performance with the correctness of the output.

Apart from this, there are more performance problems still in the application , which i think must be improved.

[2015-06-28 17:15] TPolzer commented on #113
It does not affect the current implementation at all, except that
- on a single core system (yes the do still exist), performance is now about halved,
- on a system with a spinning hard drive (a lot of them still exist), performance is less than half of what it was before
- the application crawls the whole commit history every 5 seconds after the cache is completed,
- our application now needs abo

[2015-06-28 17:15] TPolzer commented on #113
The issue with the getBlame logic is that it is called FAR too often, this is one of the few things that SHOULD really be cached but isn't...

[2015-06-28 17:52] gayathery commented on #113
In my indexing implementation, i am caching the results of the blame operation.
Because for example, a blame for one single requirement is taking approximately 12 seconds for just the few hundred files in our repo and I think first this has to be looked into before checking the number of times it is called. The root cause for this delay is the getBlame and the next issue with with the numerous lay

[2015-06-28 18:12] gayathery commented on #113
@TPolzer  I have implemented multi tasking for indexing with cached thread pools and now i find that as told by @yadimon the bottleneck for the performance is the getBlame. After implementing multi tasking now I found that for requirement with id "13" the time taken for getBlame is 6 minutes and the complete indexing is waiting for this to complete .so whatever optimization i do to cache something

[2015-06-28 18:12] TPolzer commented on #113
So our repository contains 722 files and I need 870 getBlame calls just to click on requirement 70 and get the GUI responsive again (and that is just for one requirement, most of them do several hundred getBlames). No you obviously do not cache them.

[2015-06-28 18:13] TPolzer commented on #113
If you did caching the right way, the count should never exceed 722, after clicking four requirements I am now at 3790...

[2015-06-28 18:14] gayathery commented on #113
@TPolzer "No you obviously do not cache them."

I do not cache them but in fact after indexing the get blame is not called at all.
you can try yourself, that after indexing, the application is in lightning speed just less than 1/2 a second for each click

[2015-06-28 18:14] TPolzer commented on #113
Yes, because your cache circumvents broken logic in the gui that does hundredes of blames...

[2015-06-28 18:15] gayathery commented on #113
i am not using the indexer before it completes indexing. In future this wiil be used even before it is completed. currently i do not use it before indexing is complete to avoid incorrectness in data

[2015-06-28 18:17] TPolzer commented on #113
So instead of fixing broken things we just layer over them until it seems to work? Great.

[2015-06-28 18:19] gayathery commented on #113
yeah that is right, i accept the gui makes hundreds of blames when indexing is not done. GUI should also be the main focus to investigate why blame is called so many times.. so I would suggest the following priority
1. stop unwanted blame calls from GUI
2. reduce the time taken by getBlame for some requirements where it crosses more minutes

and after this if we still face performance problems, we

[2015-06-28 18:21] TPolzer commented on #113
It never takes minutes ;), it just sometimes happens to take hundreds of milliseconds.

[2015-06-28 18:23] TPolzer commented on #113
And since it has to load all versions of the file it is looking at from disk, there are quite high lower bounds to its performance (that we have undoubtedly not reached, but I guess that at most a factor 3 is possible, maybe even just 2).

[2015-06-28 18:27] gayathery commented on #113
you can check for Requirement id "13" and you can see yourself for the time taken for the tracker method getCommitFilesForRequirementID. It takes many minutes

[2015-06-28 18:35] gayathery commented on #113
and one more thing to note is implementing cache for getblame can solve some performance problem but without additional mechanism to know when data should be used from cache and when to ignore cache because of changes to repository should be considered and we cannot always use the cache. and a mechanism like indexing checks the underlying data for changes...so we would need a similar functionality

[2015-06-28 19:52] gayathery commented on #113
The problem with GUI calling the BL twice is finally fixed...it really ate away a lot of time because of the call stack of size around 40. But anyways finally fixed it in https://github.com/uv48uson/amos-ss15-proj3/commit/fc9478809ff142ed1f400af8927dcce77e0381ed

[2015-06-28 20:48] yadimon commented on #90
fixed by fc9478809ff142ed1f400af8927dcce77e0381ed

[2015-06-28 20:48] #90 closed

[2015-06-28 20:50] yadimon commented on #104
it is not in the database, we need to update it with current data.
We have temporary testing data, therefore its not a bug.

[2015-06-28 20:50] #104 closed

[2015-06-28 20:52] #102 closed

[2015-06-28 20:52] yadimon commented on #103
see #113

[2015-06-28 20:52] #103 closed

[2015-06-28 21:03] yadimon commented on #113
just for info about "easy cache" here is aspectJ example. 944559a2d10a455be2bdcdd702fb8a14e1a3d19f
it looks like it work, by mvn install. But i cant setup it in Intellij IDE.
I try to add guava cache too.

[2015-06-28 21:09] GnuTalux commented on #100
thank you very much for your detailed and well explanation :-)

I think, at worst I can solve this issue without the need of this changes in ```equals```,
but I am not really sure, if that is really better then ^^ ...

but I would let it as it is, too :-)

[2015-06-28 21:20] gayathery commented on #113
@yadimon we need to think about enabling cache because we have properly listen to changes in repo because if we cache everything the data shown in application will be out of date. that is why i implemented indexing instead of caching....

[2015-06-28 21:48] TPolzer commented on #113
@gayathery if you insist on keeping this stuff please make it at least properly synchronized.

[2015-06-29 00:36] yadimon commented on #113
@gayathery  we can purge caches ... e.g. by indexer event (like repo changed event)
@TPolzer calls of blame are not that much, and cache them maybe gives like 30% improvement for first run of `getCommitFilesForRequirementID()`.
After this run, or after the indexer is ready, caches makes everything faster.

So the problem of first run is still here, and exactly by req-13 its horrible.

Could it be

[2015-06-29 05:27] gayathery commented on #115
https://github.com/uv48uson/amos-ss15-proj3/commit/32b3298e8754894ba400199638e9928fd8ba8788

[2015-06-29 05:27] #115 closed

[2015-06-29 05:46] #93 closed

[2015-06-29 05:47] #83 closed

[2015-06-29 06:07] gayathery opened #120 "Traceability matrix is triggered twice on button event"

[2015-06-29 06:18] gayathery commented on #120
This is a general issue with all actions. All actions are registered twice for events and the following fix solves this

https://github.com/uv48uson/amos-ss15-proj3/commit/7a695d015368178ce9220cc882177be4d78ca35d

[2015-06-29 06:18] #120 closed

[2015-06-29 06:26] #114 closed

[2015-06-29 06:32] TPolzer commented on #113
Merges are no problem, the problem I had overlooked are binary files, thank you @yadimon.

@gayathery since the caching done by @yadimon is faster, cleaner and threadsafe, could you please revert this little hack of yours?

Any ideas on how to reliably detect binary files (because obviously we do not even want to display them, and in consequence, computimg blame on them is unnessecary)? They could

[2015-06-29 07:28] gayathery commented on #113
@TPolzer  i have disabled the indexer. And for your information this is not a little hack for performance. It is a basic version of a well defined concept.. you can have a look into http://developer.android.com/guide/components/loaders.html

[2015-06-29 07:46] TPolzer commented on #113
It is a very basic, very broken version of a well defined concept that you applied at a place where it absolutely does not belong.

[2015-06-29 08:17] gayathery commented on #113
May be you did not understand the concept, It is not a broken version because it really satisfies the needs without creating overheads. There are no hard and fast rules where a concept should be applied and not.. It cannot be justified that this concept should not be used in this situation

[2015-06-30 10:16] TPolzer commented on #113
I did some work on this, and by now the biggest performance issue that remains is that our interaction with DataSource is a mess... for nearly every interaction with datasource, O(number of reqs overall) time is consumed which is clearly unacceptable if we want high performance (reqs from "difficult" datasources like git should be cached, those from database should be fetched efficiently).

I also

[2015-06-30 10:31] #95 closed

[2015-06-30 11:01] gayathery commented on #113
@TPolzer yeah you are right and i too am scared to touch the complicated code because it might have adverse effects if changed without having an in depth view of the code

[2015-06-30 12:28] gayathery commented on #99
0b8257b . Fixed

[2015-06-30 12:28] #99 closed

[2015-06-30 12:32] gayathery commented on #98
84de9c37 . Fixed by indexing. After enabling the indexer , indexing takes app 5-6 minutes then after overall application performance is improved.

[2015-06-30 12:32] #98 closed

[2015-06-30 12:37] TPolzer commented on #98
And if you disable indexing it is even faster. Takes tens of seconds right now, directly after application start.

[2015-06-30 13:11] gayathery commented on #117
https://github.com/uv48uson/amos-ss15-proj3/commit/7a695d015368178ce9220cc882177be4d78ca35d

[2015-06-30 13:11] #117 closed

[2015-06-30 13:13] #110 closed

[2015-06-30 14:05] GnuTalux commented on #97
you mean, its unsorted?
As I see, requirement ids are generally unsorted.

[2015-06-30 15:21] GnuTalux commented on #97
@yadimon: Didn't you fixed this?

[2015-06-30 19:19] GnuTalux commented on #119
oh my gosh.
this is really hard ^^

I am thinking about, to implement the user story in an other way...
My current approach seems easy at first sight... but as I try just to make my version of
```getAllFiles``` (by traversing file system) to be shown on GUI, I have to modify and add lots of code.
Now I reached the ```GuiController``` and the job isn't nearly done xDD

If this is not working today,

[2015-06-30 19:33] GnuTalux opened #121 "GuiController Method are called twice times"
As I have mentioned in another issue,
every method of GuiController is called twice times.

e.g.: If you click on "navigate from id"
the method ```requirementsFromDB``` is called. This is nice...
but then it is called again by method ```initializeButtonActions```.

Somehow the method  ```initializeButtonActions``` is called multiple times.

[2015-06-30 19:49] KatsiarynaK commented on #100
Hi everyone!

I just made the build and I can see that the problem is in

http://gyazo.com/9654706653e085841f545239acbd8e7d

[2015-06-30 19:53] #108 closed

[2015-06-30 19:54] gayathery commented on #121
I found that initializeButtonActions is called twice  and hence all actions are registered twice and in turn all functionality is called twice. i disabled this in one of the commits but found that there are some exceptions thrown when a session is reconfigured...so need to find a good solution before disabling it

[2015-06-30 19:59] KatsiarynaK opened #122 "Excess filea in the File column"
1. click the requirement
2. click the commit
result - list of all affected files is displayed in the File column
3. click file name
result- file content is displayed in the Code column

However, some of displayed files have no relation to the chosen requirement
see example with req 68:
http://gyazo.com/9592f9d2b6b016173f9f95ace9b90112

[2015-06-30 19:59] gayathery commented on #118
https://github.com/uv48uson/amos-ss15-proj3/commit/3e3c81d7cbe7d093683816ba4fe13b3c6a672bcc

https://github.com/uv48uson/amos-ss15-proj3/commit/23470f618e064d29f492e30df0edf90147438206

https://github.com/uv48uson/amos-ss15-proj3/commit/617c8c0a5c3df995384e35fcd336a9c32c100930

[2015-06-30 19:59] #118 closed

[2015-06-30 20:03] KatsiarynaK opened #123 "Excess requirements in the RequirementID column"
Could comeone explain why do we have req 76 in our application, if it doesnt even exist?

[2015-06-30 20:05] gayathery commented on #97
@KatsiarynaK  The sorting in Traceability matrix is automatic if sorting is done for the application- currently the sorting in "Navigate from requirement" is made as a integer sorting which is wrong because in real time it will be a combination of alphabets and strings.. So string sorting is the correct way

[2015-06-30 20:09] KatsiarynaK commented on #123
Additionally, why the info about requirement title and content is displayed not for every req?

[2015-06-30 20:09] gayathery commented on #123
https://github.com/uv48uson/amos-ss15-proj3/commit/f2b66b744702fc9cae903f2c2d8d2e4b61d3f503

Req 76 is there in the user stories and the above commit refers to it..

regarding the title, i am not sure what is the problem

[2015-06-30 20:15] KatsiarynaK commented on #123
@gayathery about"Req 76 is there in the user stories and the above commit refers to it.." you are right, sorry

about the title, there is, for example mouse hoover for req 28, but there is no for req 76

[2015-06-30 22:07] TPolzer commented on #123
Quite simple: nobody put it in the database.

[2015-07-01 07:01] KatsiarynaK opened #124 "The file was created by one commit, was changed by the other commit, related to the same req. but the impact of the requirement on it is only 90%."
The file amos-ss15-proj3-backend\src\main\java\de\fau\osr\core\vcs\impl\GitBlameOperation,java was created for the req 70.
http://gyazo.com/c5f81a6857a1764037f35d5543c530fd

According to the system, it was changed by other commit related to the same req. But not all of its lines are correlated to the req 70. See the snapshot:
http://gyazo.com/63e1fb396bef5dc7984831f4fa4d4dde

According to the Trac

[2015-07-01 07:18] TPolzer commented on #124
I am not sure what is the expected behavior here. There are commits without requirement id (referencing issue #113) that touch that file. Should they be listed? My understanding was that only the commits relating to the selected requirement shall be listed.

[2015-07-01 07:19] TPolzer commented on #124
Is this possibly the same defect as #91? @yadimon?

[2015-07-01 07:24] TPolzer commented on #100
Is this the same defect as #91? @yadimon?

[2015-07-01 07:25] TPolzer commented on #124
Closing as duplicate of #100. It is the same issue, just that in one case all the commits did not have the corresponding requirement.

[2015-07-01 07:25] KatsiarynaK commented on #124
@TPolzer You are right, "My understanding was that only the commits relating to the selected requirement shall be listed" !true! But the problem is not with the listed commits. Several commits which relate to the file are listed.

The problem is that the total affect on the file is only 90%. but it must be 100% in total for each file. And not all code lines are correlated with the req

[2015-07-01 07:26] TPolzer commented on #124
It cannot be 100% because there are lines which were not linked to that requirement.

[2015-07-01 07:27] TPolzer commented on #124
Look at
[code]

[2015-07-01 07:29] KatsiarynaK commented on #91
@TPolzer
Yes, probably the issue #100 is duplicate with this one.

But the problem is still here. The build I am testing was made at 8. a.m.

[2015-07-01 07:32] KatsiarynaK commented on #124
Sorry, but I dont understand what it means:
git log --word-diff=color -p ./amos-ss15-proj3-backend/src/main/java/de/fau/osr/core/vcs/impl/GitBlameOperation.java

:)

But why:
"It cannot be 100% because there are lines which were not linked to that requirement". ???

according to the traceability matrix, the file is only connected with the req 70

[2015-07-01 07:49] KatsiarynaK opened #125 "The file was created by merge commit, but there is no affect of the corresponding req on the file"
The file  amos-ss15-proj3-gui\src\main\java\de\fau\osr\gui\Components\javafx\ReqManagementPanel,java was created by “Merge first version…..” commit, but the impact of the req 61 on this file is 0%.

See example:
http://gyazo.com/7a991b25c0ac10f59450e939c6aea6b1

[2015-07-01 08:00] KatsiarynaK commented on #122
Probably the same problem:

http://gyazo.com/687d5f4bc8eb458d079d7eaaa0e38cbf

[2015-07-01 08:12] TPolzer commented on #125
Same problem as #122. Closing.

[2015-07-01 08:12] #125 closed

[2015-07-01 08:15] #124 closed

[2015-07-01 08:16] TPolzer commented on #124
Closed after discussion with @KatsiarynaK.

[2015-07-01 08:20] KatsiarynaK commented on #123
The req. should be in the DB.

[2015-07-01 08:24] KatsiarynaK opened #126 "Files have more than 100% impact"
According to the traceability matrix, the following files have more that 100% impact in total by several reqs

amos-ss15-proj3-backend\src\main\java\de\fau\osr\core\vcs\AnnotatedLine,java
amos-ss15-proj3-gui\src\main\java\de\fau\osr\gui\Model\Collection_Model_Impl,java
amos-ss15-proj3-gui\src\main\java\de\fau\osr\gui\util\ElementsConverter,java
amos-ss15-proj3-backend\src\main\java\de\fau\osr\core

[2015-07-01 08:28] TPolzer commented on #126
Right now, this is intentional. Each line gets a 100% impact from all requirements that touched that line.

Impact calculation is scheduled to become more fine-grained in user story 26 (which is at the bottom of the product backlog right now).

[2015-07-01 08:34] KatsiarynaK opened #127 "File is not clickable"
I've tried several times during different sessions to chose the file and see its content:

amos-ss15-proj3-gui\src\main\java\de\fau\osr\gui\View\GuiViewElementHandler,java

but it is not clickable. At least on my PC

picture:
http://gyazo.com/56f2f452af90fb703dee10e66012a786

[2015-07-01 08:35] KatsiarynaK commented on #126
@TPolzer
ok, thanks for the explanation

[2015-07-01 08:48] KatsiarynaK opened #128 "Post traceability doesnt work"
I have linked manually via the Linkage Management tab req 75 and the commit  "req-024 Implementation...."

result:

req 75 is linked with only one commit "req-75 fixed issue100.....".

expected:

req 75 is linked with the commit "req-75 fixed issue100.....".  and with the commit "req-024 Implementation...."

[2015-07-01 10:41] TPolzer opened #129 "TrackerAdapterWorker caches on the wrong level"
TrackerAdapterWorker caches outputs of Tracker. This is a lot of unneeded overhead, because the results of Tracker queries contain highly redundant data. Data should be cached on a data level, not on a query level.

[2015-07-01 10:42] TPolzer opened #130 "Synchronization of TrackerAdapterWorker for probable future race conditions"
TrackerAdapterWorker has quite a few race conditions. I do not know if this is worth the effort to fix, see #129.

[2015-07-01 11:03] KatsiarynaK commented on #128
connected with #123

[2015-07-01 13:52] gayathery commented on #129
Unfortunately you did not understand the concept still, the indexing is having a specific data structure where it stores the consolidated data..and further queries use this data until the underlying data is not changed. and of course here only the data is cached and not the queries...the queries are just used to fetch data for this specific data structure..and this complete data structure can be p

[2015-07-01 13:52] #129 closed

[2015-07-01 13:55] gayathery commented on #130
"quite a few race conditions" is abstract. If you come across a race condition where it is not working, please send me the sequence of steps to follow to reproduce the race condition and then i can look into it.

[2015-07-01 14:03] #12 closed

[2015-07-01 14:04] #73 closed

[2015-07-01 14:04] #84 closed

[2015-07-01 14:11] gayathery commented on #129
to add to my above points...one thing to note is ---indexing is not caching...indexing can be extended to  persist across sessions while caching is not...indexing has its own data structure to maintain data based on the domain in which it is used while caching is not aware of such things...for example....windows file indexing or eclipse file indexing are not caching....they indey the files and use

[2015-07-01 14:30] TPolzer commented on #130
The point of a race condition is that is not reproducible easily ;)
You do not even synchronize at all, so at some point after jit optimizations it could even happen that none of what TrackerAdapterWorker does is visible to other threads.
This is not an abstract concern. Basically everything you do with the indexing is a race condition just waiting to happen!

[2015-07-01 14:45] gayathery commented on #130
race conditions are not reproducible easily but can be described if it occurs or if you find a particular sequence it happens. just simply it cannot be claimed that there are race conditions. a bug cannot be raised without a concrete situation, either it should have occured or a proper scenario has to be analyzed. in the existing code there is a clear partition when TrackerAdapterWorker will be us

[2015-07-01 14:56] TPolzer commented on #130
Simple scenario: `isThreadingRequired` is `false`, and `isReadyForTakeOver = true;` in `prepareData()` gets reordered from line 207 to line 120. I think you can figure out by yourself what happens now.

This is just one example, "quite a few" was really an understatement.

[2015-07-01 15:07] gayathery commented on #130
in the current implementation isThreadingRequired is always false. and there are some changes to be done before i set it to true. so there is only one case the code will execute that is from the else part in line 172 and i do not see and reordering here. firstly reordering itself is an abstract term in case of threading...if you know some scenario...be specific...

[2015-07-01 15:07] TPolzer commented on #130
It is obvious you have no idea how threading works, please fix the code or revert it.

[2015-07-01 15:09] TPolzer commented on #130
If you want to know more, read https://docs.oracle.com/javase/specs/jls/se7/html/jls-17.html#jls-17.4.5

[2015-07-01 15:34] gayathery commented on #130
we can create or fix a bug only if it occurs and cannot fix a big which has not yet occured.

 We have made sufficient improvement in application performance and now as per the priority we need to work on functional requirements. We still have  to fix bugs in core logic.

So can fix this bug if it really occurs. That time we can re-open .

[2015-07-01 15:43] TPolzer commented on #130
Yes we can write code which does not have the obvious possibility of spontaneous explosion built in. And you really do not want to fix a threading bug only when it manifests itself, that is real pain, believe me.

[2015-07-01 20:04] TPolzer commented on #130
This is issue is still not fixed, so why did you close it?

[2015-07-02 07:55] TPolzer opened #131 "Tracibility Matrix progress bar not drawn"
Instead of a progress bar I just get a blank window. Can any of you reproduce this? Is this a general issue when using our Application with Linux?

[2015-07-02 08:46] GnuTalux commented on #127
This are non-existing files.
As I can remember, @uv48uson has made them grey earlier.

[2015-07-02 08:56] TPolzer commented on #127
I think this file exists, doesn't it?

[2015-07-02 12:25] KatsiarynaK commented on #127
I can find some other examples, if necessary. Because that was not the only non-clickable file.

[2015-07-02 15:29] TPolzer commented on #131
The reason for this behavior is once again totally broken threading. I'll fix this.

[2015-07-02 17:04] TPolzer commented on #131
@gayathery: This is the kind of bugs that happen when you do not take care with race conditions (#130).

[2015-07-02 17:10] #131 closed

[2015-07-02 17:10] gayathery commented on #131
It's weird that race condition occurs based on platform.  It is very unlikely and it seems to be a new concept.

[2015-07-02 17:11] TPolzer commented on #130
mistakenly tagged this in commit message, sorry

[2015-07-02 17:14] TPolzer commented on #131
You are not even allowed to call anything in swing from other threads, because swing itself is not thread safe.
And actually it is common knowledge that race conditions are very dependent on the environment (machine/OS/load/etc.).

[2015-07-02 17:41] GnuTalux commented on #130
Will we use ```TrackerAdapterWorker in future?
Currently I am moving from ```CommitFile``` to ```Path``` at GUI model. (With "I" I mean "we")
As I see,  ```TrackerAdapterWorker``` implements equal methods as ```TrackerAdapter```....
this doubles the work, especially if  ```TrackerAdapterWorker```  won't be used anymore.
(should I adapt the code of ```TrackerAdapterWorker``` to the newer data types

[2015-07-02 18:08] gayathery commented on #130
Firstly i want to say is ,TrackerAdapterWorker will be used in future for multiple purposes. Cache implementation was good but it does not make sense to say that first clicks of requirement will not have expected performance and later clicks will be fine. I have not seen any application specifying like this. (for example Requirement ID 22 takes a long time for the first click) the repository what

[2015-07-02 18:58] gayathery commented on #130
@GnuTalux Do you need any help in adapting the "TrackerAdapterWorker "

[2015-07-02 19:18] GnuTalux commented on #100
the bug letting commit entries disappear was in ```Collection_Model_Impl::commitsFromRequirementAndFile```.
```Collection::retainAll``` was used to get the intersecting commit of the set of commits of a given reqId and a filepath.
In this case ```GitVcsClient.java#getCommitListForFileodification()``` returned a set of commits,
without a proper equals-method, it was not able to get a intersecting s

[2015-07-02 19:23] gayathery commented on #100
@GnuTalux I tried but there is one problem. the following doesnt work

1. select requirement
2. now commits and files appear in the respective columns
3. Now click file (commits are still there...and this bug is fixed now)
4. Now click the commit - the files are not shown respective to the commit--this is a problem

[2015-07-02 19:24] GnuTalux commented on #130
maybe later I will need your helps. ^^

Currently I am just trying to change essential codes to new data types and ignoring```TrackerAdapterWorker```.
Ifs this refactoring is done, I will adapt ```TrackerAdapterWorker```... Otherwise its much harder.

[2015-07-02 19:28] gayathery commented on #130
@GnuTalux okay,.if you need any assistance in this case, please let me know

[2015-07-03 10:05] yadimon commented on #130
letz do some solution
@gayathery just refactor the indexer. Make it like a proxy of `ModelAdapter`. Or let it call the ´Adapters` methods. We need easy maintanable code. Nothing copypasted or not-ready-yet . its critical in this case. (btw probably all we need, is just to call getCommits.. for all reqs. Its enough for caching already. But ok, we can cache again over indexer on GUI level. But think

[2015-07-03 10:34] TPolzer commented on #130
Honestly, I would be strongly in favor of scrapping the indexer entirely, because it needs more or less a rewrite anyway, and I just do not see the benefit of the added complexity.

[2015-07-03 11:07] gayathery commented on #130
@yadimon the indexer is need in the swing application. For eclipse plugin the requirement is to compute for one file at a time. The possible improvement need at ide side is improving gitblame and its resources  if it is possible. (As this is the root of all the performance issues)

Working on other aspects you mentioned.

[2015-07-03 12:36] gayathery commented on #130
@yadimon one more thing to note is already the TrackerAdapterWorker is calling only TrackerAdapter calls until it is indexing and later it uses its own data structure and there is no place the implementation is repeated.

In general I do not understand why it is required to scrap a functionality which is not hindering existing implementation and there is no obvious problems in our application beca

[2015-07-03 13:26] gayathery commented on #130
For a sample performance report by a requirement management software...see the link and the point shown in the image....we can no way get something like that if our core logic of finding blame information is taking so much time. We should fix these current problems first before solving others. This can be no way achieved by only using caching. Getting blame information is our core functionality an

[2015-07-03 15:05] yadimon commented on #97
@gayathery check sorting i used (9ab4616dbc017d30e13d4286f07c7ab7b3ee1e2f)

[2015-07-03 15:39] gayathery commented on #97
@yadimon  thanks will add sorting to the matrix.

[2015-07-04 18:30] KatsiarynaK commented on #100
@GnuTalux Yes, agree with @gayathery , the initial bug is fixed, but there is a new one, described above

[2015-07-04 18:38] KatsiarynaK opened #132 "After click on the Home tab the user can not be back to any other tab"
1. start the application
2. enter configuration data, click the Configure button
3. click the Navigation tab
4. do something on the Navigation tab (does not matter what)
5. click the Home tab
6. click the Navigation tab
result - nothing happens
expected - the Navigation tab is displayed.

ps. if I click the Configure button, I can continue working with the app.

However, clicking the Home tab shou

[2015-07-04 18:41] KatsiarynaK commented on #97
@gayathery Sorry, I didnt really understand your message, therefore, I didnt reply. If it can wait till Monday, I would talk to you after POIS

[2015-07-04 21:15] gayathery commented on #132
https://github.com/uv48uson/amos-ss15-proj3/commit/35fc62b819383a2280c206b1ac27606bdb7a989c

[2015-07-04 21:15] #132 closed

[2015-07-04 22:44] gayathery commented on #130
https://github.com/uv48uson/amos-ss15-proj3/commit/0acac358c8fbd70e2852ff7df872f54bc03574eb

[2015-07-05 01:29] TPolzer commented on #130
You really managed to get rid of the races, but now you introduced the possibility of deadlocks (Exception while locked) and slowdowns in the gui (lock held while gui wants to do something). I fixed all this for you, but as mentioned in 28d05944d5ac51b1020d48887a0055534ffa3ad5, our code base is still not thread safe. But this should probably be a separate issue.

[2015-07-05 08:05] gayathery commented on #130
@TPolzer  It is agreed in our team that we should not delete others work without any valid current problems or valid notifications (in my case both are not true). i know there are some more places to handle. i had used a generic lock just because my next implementation was about to handle specific handling for thread interruption and further synchronization. I commited to master because the existi

[2015-07-05 08:15] gayathery commented on #130
@TPolzer YOU ARE VIOLATING OUR AGILE PROCESS. You removed all the possibilites of thread handling of indexing which I had implemented already and had the possibility to switch it on in the future. It is a surprise that effort is put to remove the existing code which has no current problems instead of putting the effort on open issues (example quality and perforamance of blame) which are more neede

[2015-07-05 08:20] gayathery commented on #130
And also i had already checked time taken before and after my implementation and there is no delay because of the code that i checked in. if you do not believe, i have the time taken information before and after the code changes

[2015-07-05 08:53] GnuTalux commented on #100
I will try to work on it :)

[2015-07-05 10:02] #126 closed

[2015-07-05 10:04] TPolzer commented on #130
Concerning the slowdowns: I said possibility, it depends very much on when you do what. And anybody with reasonable experience in concurrent programming will tell you that the code before was a huge problem. And no I did not remove the possibility to switch it on, its functionality is still the same.

And yes it was already a problem that the code was unmaintainable, just look at what @GnuTalux wr

[2015-07-05 10:13] gayathery commented on #130
@TPolzer I really dont know whether you know what is caching and what is indexing..you have spoiled the indexing by using caching which is completely irrelevant to the concept I had followed. Any now it is claimed to be cleaning of the concept. Since it is spoiling the concept of indexing i have to revert your changes

As per your statement "I did not remove the possibility to switch it on"
you di

[2015-07-05 10:15] gayathery commented on #130
Since the following comit had spoiled the indexing concept, I had reverted it
https://github.com/uv48uson/amos-ss15-proj3/commit/33918853316039a2b97a1bf39243db24bbb5f9d5

[2015-07-05 10:15] #130 closed

[2015-07-05 10:22] gayathery commented on #130
Only thing i liked in your last commit was using getheadId instead of commit count. all others really spoiled the indexing concept

[2015-07-05 10:22] TPolzer commented on #130
"spoiled the concept"... you have no idea what you are talking about, it was doing the same thing.

[2015-07-05 10:25] gayathery commented on #130
no, you are trying to cache data and also you removed multithreading concept which was there earlier. believe me, if the concept was not spoiled i would not have reverted it.

[2015-07-05 10:27] TPolzer commented on #130
Just please ask somebody else (since you obviously do not believe me) with experience in this sort of thing to have a look at the current code.

[2015-07-05 10:28] gayathery commented on #130
though the multithreading concept is not enabled earlier, the complete implementation was there, if need arises this can be switched on (isThreadingRequired) and indexing can become much faster. i had the implementation there and only disabled it to check the performance without that. I accept there is a need to implement the exceptoin part of the lock...i had a different thought about it.if you h

[2015-07-05 12:19] TPolzer opened #133 "ActionListeners are not properly accounted for"
Quite a few of our GUI elements use `addActionListener` instead of `setAction` to set their actions, but the listeners are not cleaned up on reconfiguration.

[2015-07-05 12:43] gayathery opened #134 "Technical Poster Design"
Basic Things to have in the poster
1. Logo Placement - Elektrobit Logo and our application Logo
2. Architecture diagram
3. Technologies List
4. Some technically important aspects of our project

[2015-07-05 13:14] gayathery opened #135 "Master build is breaking on Windows"
The master is corrupt and build is failing after the commit https://github.com/uv48uson/amos-ss15-proj3/commit/325508a8ed2f3561b30db7dd423735d93601516e

Errors in
testTraversWithoutIgnoring(de.fau.osr.util.VisibleFilesTraverserTest)

[2015-07-05 13:26] TPolzer commented on #135
Ah I see now that in the refactoring branch of @GnuTalux (that I partially merged) there were tests that were not cross platform. Sorry.

[2015-07-05 13:31] #135 closed

[2015-07-05 14:06] gayathery opened #136 "Existing functionality is not working anymore"
In our application now the following is not working with one of the recent commits. (this feature was working before the commits)

1. Select Requirement - Commits and files are listed
2. Select Commit - The corresponding files are not shown, it is still showing the complete set of files of requirement

[2015-07-05 14:20] TPolzer commented on #136
I bisected this to 117eef386aed42a1ed862f0712f4c77482d2652a. Just looking at the diff, I have no idea why this breaks. Will look further into it. Any ideas?

[2015-07-05 14:29] gayathery opened #137 "Eclipse Plugin Icons"
Specific icons for preference setting, enable/disable, marker and traceability matrix are required

[2015-07-05 14:34] gayathery commented on #136
I am not sure about it. This functionality was added in last sprint by implementing instanceRequirement and setting its link in Commit object. May be this could help?

[2015-07-05 14:42] TPolzer commented on #136
Actually no, this doesn't help, because instanceRequirement has nothing to do with it, it was introduced in f2b66b744702fc9cae903f2c2d8d2e4b61d3f503, but the functionality is we are talking about is already working in its parent, 2c5888f01b8383e626cd2d0ec8822136e3e2af6f.

[2015-07-05 15:06] gayathery commented on #137
https://github.com/uv48uson/amos-ss15-proj3/commit/89cf0523676e3fdee2ace5fcb22e221e65619698

[2015-07-05 15:06] #137 closed

[2015-07-05 15:06] TPolzer commented on #136
argh, found it

[2015-07-05 15:07] gayathery commented on #134
I am attaching the following image of architecture and some snapshots to be put in our poster. Please do give your opinions.
![app](https://cloud.githubusercontent.com/assets/11977313/8512186/30a9d540-2338-11e5-82e0-7d8be14c2660.png)
![arch](https://cloud.githubusercontent.com/assets/11977313/8512187/30bdd6d0-2338-11e5-9c81-46dedb503831.png)
![backend](https://cloud.githubusercontent.com/assets/11

[2015-07-05 15:08] gayathery commented on #134
The architecture is just a overall view of our application layers.. not the exact classes involved..

[2015-07-05 15:23] gayathery commented on #130
@TPolzer just now i saw about the deadlock problem you had told. this deadlock will not happen in the existing application in the generic lock class because when there is an exception, the lock is no more locked and further unlock will not be a problem too. can you describe whether this was the deadlock situation you were speaking about?

[2015-07-05 16:13] yadimon commented on #134
looks good, but some opinion:

nobody knows what is a presenter, element handler etc..
in architecture diagram, i would change UI to just BL adapter, view, controller, or one element like "ui mvc here"

The package diagram, i would remove, since it is too complicated.
Or make it simpler.

[2015-07-05 16:22] gayathery commented on #130
https://github.com/uv48uson/amos-ss15-proj3/commit/f35a894ee816eac57910ba3cfbacec88b7111455

[2015-07-05 16:26] gayathery commented on #136
thats nice

[2015-07-05 16:27] #136 closed

[2015-07-05 16:28] TPolzer commented on #136
I made the really stupid mistake of mixing up the two different `Commit` classes in my head.

[2015-07-05 16:30] TPolzer commented on #130
I am talking about the case where TrackerAdapterWorker holds the lock and bails out because of an Exception. This leads to the lock not being released. To cite https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/locks/Lock.html:

With this increased flexibility comes additional responsibility. The absence of block-structured locking removes the automatic release of locks that occurs wit

[2015-07-05 16:33] gayathery commented on #134
@yadimon I changed it based on your suggestion. Thank you.
The package diagram i meant was not to be in the foreground...may be something like a watermark in the background. what do you think?
If someone could help me in designing the poster, it would be better..
![arch](https://cloud.githubusercontent.com/assets/11977313/8512472/603a865e-2344-11e5-825b-abda688912f9.png)

[2015-07-05 16:37] gayathery commented on #136
sometimes it happens but anyway finally you found it

[2015-07-05 17:01] KatsiarynaK commented on #134
I would add an Eclipse snapshot as well, because it's better to show that we have both - app and IDE plugin

[2015-07-05 17:16] GnuTalux opened #138 "Need help for adapting Tracker and VcsClient for new data type Path. (current it uses CommitFiles)"
I need methods for Tracker, which returns Path instead of CommitFiles.
I will start working on it.
If someone has spare time, It would be nice, if we could split the work ^^

[2015-07-05 17:22] GnuTalux commented on #134
yeah, looks great!
the second architecture diagram is even better... :-)
how can I contribute to this poster?

[2015-07-05 18:07] gayathery commented on #134
Here is the technologies list as an image
![technologies](https://cloud.githubusercontent.com/assets/11977313/8512744/6e81f802-2351-11e5-81eb-2c1cedc0e7e0.png)

[2015-07-05 18:11] gayathery commented on #134
Can some one use these pics and create a poster by arranging them together. the class diagram can be kept as a watermark (as matrix green color) in the background. The overall back ground can be black and all the other pics can be arranged in the foreground. If there is more space available, some text about project highlights can be put.

[2015-07-05 19:09] gayathery commented on #134
this could be a background
![digital_matrix_neon_background-wide](https://cloud.githubusercontent.com/assets/11977313/8512986/17a2939e-235a-11e5-92ad-f61c173990f3.jpg)

[2015-07-05 19:29] TPolzer commented on #138
I would love to help, however I have no idea currently how to approach it, as I think @uv48uson and you are already working concurrently on the code? Is there any cleanly separable task(s)?

[2015-07-05 19:30] TPolzer commented on #138
Helping would also be easier if the branch was buildable I think.

[2015-07-05 22:19] gayathery commented on #134
Here is the first version of the SD poster (High quality image is in my local)

<img width="960" alt="poster" src="https://cloud.githubusercontent.com/assets/11977313/8513655/7de2eb30-2374-11e5-8086-c641c132e048.png">

[2015-07-05 22:23] gayathery commented on #134
i will export it from the photoshop file to the required format as per specifications tomorrow

[2015-07-06 09:55] GnuTalux commented on #134
hey, this looks great! well done @gayathery!

I would like to suggest a few points, if it is ok...

- the screenshot, which is at lower right corner, looks to sheared (deformed)
- the background looks interesting but to darkish and little bit overloaded

but if you don't have time and motivation anymore, current version is fine enough ^^

[2015-07-06 10:35] #138 closed

[2015-07-06 10:41] uv48uson commented on #134
i think it's awesome. Thank you for your time gayathery. Mybe Taleh is right that tit's a bit overloaded but i think this makes it even better. One Poster could never show the whole software. That's how it is. And we can go in detail if someone asks.

[2015-07-06 10:43] uv48uson commented on #128
still not working? or only with this particular commt? Didn't we test the add linkage?

[2015-07-06 10:45] uv48uson commented on #127
Seems like this greyed out is not workig anymore with the new UI design. But it doesnt matter since taleh and me are working on req-68 Introducing Path DataElementss tracking the files, so that there shouldn't appear files that dont exist anymore

[2015-07-06 11:33] gayathery commented on #134
Thank you @GnuTalux & @uv48uson
@GnuTalux i think in this picture that i had uploaded it is bit malformed because i did a print screen and sent...because the original image is 35 Mb..the PreFinal version is in the following link
http://www.studon.uni-erlangen.de/frm1221610_58015.html

The final version will soon be there

[2015-07-06 18:34] yadimon commented on #134
looks good, but somehow too much, and not structured.
if you want to modify it again, i prefer such form like in this posters:
http://www.se.rit.edu/node/senior_projects/2009

The "technologies" pic for example, is ok, so people understand "here are the technologies, they used"
but all other parts.. i m not sure it will be easy to understand why, for what etc..

But as Taleh said, its nice even if

[2015-07-06 18:35] yadimon commented on #128
its still to fix.
will be fixed by me.

[2015-07-06 21:54] yadimon opened #139 "after "add linkage", selection of reqs, does not update commitslist."
tab linkage Management -> do "add linkage".
go to navigation tab
select requirement, all commits shown every time.

[2015-07-06 21:55] yadimon opened #140 "multiple call of "add linkage" after multiple refreshes"
in the app, click multiple time on some refresh buttons.
try to add linkage on "Linkage Management" tab.
you will see multiple message boxes "added"

[2015-07-06 21:57] TPolzer commented on #140
Duplicate of #133, this is a general issue on reconfiguration (no matter if from configuration or refresh button).

[2015-07-06 21:57] #140 closed

[2015-07-06 21:58] yadimon opened #141 "linkage management tab: after click on refresh button, list of commits changes"
go to linkage management tab
click refresh button
list of all commits is different now.
should be somehow the same and ordered every time.

[2015-07-06 21:58] yadimon opened #142 "linkage management tab: after click on refresh button, list of commits changes"
go to linkage management tab
click refresh button
list of all commits is different now.
should be somehow the same and ordered every time.

[2015-07-06 22:01] TPolzer commented on #139
Are you sure you pressed the refresh button? For me this is only occuring if I do NOT press the refresh button after adding linkage.

[2015-07-06 22:04] TPolzer commented on #142
Its the same list, just unordered, because that list has no ordering and the process to create it is nondeterministic.

[2015-07-06 22:05] TPolzer commented on #141
duplicate of #142

[2015-07-06 22:05] #141 closed

[2015-07-06 23:24] yadimon commented on #139
@TPolzer you are right updated.

[2015-07-07 07:05] gayathery commented on #134
I have uploaded the final version for printing. yet there is time till today evening to modify it. so may be some time is there for fixing any overlooked errors.
the copy of the final version is here in the following link http://www.studon.uni-erlangen.de/studon/ilias.php?ref_id=1221610&cmdClass=ilobjforumgui&pos_pk=166483&thr_pk=58015&cmd=viewThread&cmdNode=lr:en&baseClass=ilRepositoryGUI#166398

[2015-07-07 14:07] TPolzer commented on #138
Since you closed this issue @uv48uson, is this code in a mergeable state?

[2015-07-07 14:19] uv48uson commented on #138
see email

[2015-07-07 15:38] KatsiarynaK opened #143 "Different data"
Could someone explain why the same code line has different linked requirements in plugin and in the app?

For example, Tracker.java the line number 191 in the plugin is related to req 26, and it is related to the reqs 26, 34, 35, 37, 40 in the app

http://gyazo.com/df614fced2db12163dcf16c39b4b09eb

![1](https://cloud.githubusercontent.com/assets/11986219/8550050/75c4e7d6-24ce-11e5-9f89-5b57f674a6c

[2015-07-07 16:56] TPolzer commented on #143
It looks to me like it is missing the added linkage from the database.

[2015-07-08 02:58] #134 closed

[2015-07-08 08:05] kaobizz commented on #113
The application is still so slow, it take more that a minute until a clicked requirement to open

[2015-07-08 08:52] TPolzer commented on #113
Not "still" but "again", the new path code is quite slow.

[2015-07-08 09:00] KatsiarynaK opened #144 "Traceability matrix contains negative impact data"
Several example files:

http://gyazo.com/44e4388b4cd2747411dbc298fd2b6c3a

[2015-07-08 09:04] TPolzer commented on #144
The reason for this behaviour is that in c64b54412cf446eebca35a8ce52389072ff93a2c I inadvertently changed how getCommitFilesForRequirementID() in Tracker.java reacts to non existing files. I would argue that this should not occur at all, but we can of course trivially change it to return 0 impact instead.

[2015-07-08 09:59] KatsiarynaK commented on #100
Fixed

[2015-07-08 09:59] #100 closed

[2015-07-08 10:20] gayathery opened #145 "Application Configuration : Some exception printed for the first time configuration although not blocking the operation in the UI"
The File exception is printed in the run time log for the first time application configuration.
But the workflow is successful

[2015-07-10 12:39] gayathery opened #146 "Product name not consistent across application"

[2015-07-10 18:32] GnuTalux opened #147 "A method like *VcsClient::is_versioned(Path)* would be nice."
Hi guys,

I am thinking of writing a method, which returns a boolean for a given file path, which indicates its version-controlled or not.

Currently I am using *tracker::getCommitsByFile*, which is very unefficient.

I think, there must be a efficient way asking JGIT, if it knows a given file ;-)

Who knows, how this can be done via JGIT.

[2015-07-10 18:38] TPolzer commented on #147
You can just iterate over all files under git with a TreeWalk, see https://wwwcip.cs.fau.de/~ca02dufe/apidocs/org/eclipse/jgit/treewalk/TreeWalk.html

[2015-07-10 18:44] GnuTalux commented on #147
You mean the similar way as in *GitVcsClient::getCommitListForFileodification*?
thanks.

[2015-07-10 19:01] TPolzer commented on #147
Actually no, because you want to iterate over files at one revision while GitVcsClient::getCommitListForFileodification iterates over revisions and uses a TreeWalk just to find the file.

[2015-07-10 19:15] TPolzer commented on #147
http://www.programcreek.com/java-api-examples/index.php?api=org.eclipse.jgit.treewalk.TreeWalk

[2015-07-10 19:19] GnuTalux commented on #147
Now I understand you.
You mean, I can use TreeWalk to iterate over all version-controlled files.
Wow, this is nice!
So I don't need "is_versioned" and also don't need the DirectoryWalker anymore. ^^

[2015-07-10 19:19] #147 closed

[2015-07-10 20:35] GnuTalux opened #148 "please, could anyone check branch "Req-68_link_moved_file"..."
please, could anyone check branch "Req-68_link_moved_file", whether user story is correctly implemented.
6c281b3ede298dc124e9158625eda414dc8cd5cf

User story 68

[2015-07-11 07:17] gayathery opened #149 "Application not working expected"
When a requirement is chosen the corresponding commits and files are shown.  But after this when a file is clicked only the commit related to the file is shown. User has to go back to another requirement and come back to see the commits again. This is a wrong flow.

[2015-07-11 07:52] gayathery opened #150 "After addition of Linkages, the commit is not shown for the requirement"
when a linkage is created between a requirement and a commit and after getting a dialog saying that it was successful, now when i return to the navigation tab and select the requirement, the newly added commit is not in the list. Even after clicking refresh, the new linkage is not visible. may be something is broken after refresh

[2015-07-11 07:55] gayathery opened #151 "Moving from Linkage to Navigation tab does not refresh GUI"
When a user moves from linkage screen to navigation screen, the commits that were displayed for linkage screen is still visible. this should not be the case. when user goes to navigation screen, the commit list should be cleared

[2015-07-11 07:59] gayathery commented on #151
way to reproduce:

1. go from navigation to linkage tab
2. select requirement
3. select commit
4. add linkage
5. now move to navigation tab
6. the commits from linkage tab are still visible

[2015-07-11 09:26] gayathery commented on #151
https://github.com/uv48uson/amos-ss15-proj3/commit/a7f90b059f2d20d94ba829c477ee041b11ec3563

[2015-07-11 09:26] #151 closed

[2015-07-11 09:27] gayathery commented on #150
https://github.com/uv48uson/amos-ss15-proj3/commit/a7f90b059f2d20d94ba829c477ee041b11ec3563

[2015-07-11 09:27] #150 closed

[2015-07-11 09:35] gayathery commented on #145
https://github.com/uv48uson/amos-ss15-proj3/commit/168671d0f809807a19d0a9b6b7cbd76fc7a7ddc2

[2015-07-11 09:35] #145 closed

[2015-07-11 09:47] #144 closed

[2015-07-11 09:49] gayathery commented on #146
https://github.com/uv48uson/amos-ss15-proj3/commit/e69e3ce8d90015ada847ed79bb3733c61c14135d

https://github.com/uv48uson/amos-ss15-proj3/commit/02585b5b9d7b1946a4ba825e440fc363f4b8f114

https://github.com/uv48uson/amos-ss15-proj3/commit/54be73ce80fdb4f6cafe00805d1672a6c7ffea31

https://github.com/uv48uson/amos-ss15-proj3/commit/8e17368802300e0b62c05e96d39bfc237c6a6e3d

[2015-07-11 09:49] #146 closed

[2015-07-11 09:50] gayathery commented on #139
https://github.com/uv48uson/amos-ss15-proj3/commit/a7f90b059f2d20d94ba829c477ee041b11ec3563

[2015-07-11 09:50] #139 closed

[2015-07-11 11:02] gayathery opened #152 "Set Logo as icon for Application"

[2015-07-11 11:06] #152 closed

[2015-07-11 13:03] #143 closed

[2015-07-11 17:51] gayathery opened #153 "Inconsistent language and inconsistent letter case"

[2015-07-11 17:56] #153 closed

[2015-07-11 21:51] gayathery opened #154 "GUI:usability --Move the TraceabilityMatrix function from the Top Menu to the Tabbed Pane."
After the new layout all the application functionalities are brought in the Tabbed View. To maintain consistency and usability  - Move the traceability Matrix functionality into tabbed view.

[2015-07-11 22:06] #154 closed

[2015-07-12 10:50] gayathery opened #155 "Application is very slow because of changes for Req-68"
The application is very slow because of the commit https://github.com/uv48uson/amos-ss15-proj3/commit/cc326435fe48773a47f6adb1b71a7b0a66e0da8a

The methods getFilesByRequirement and getFilesByCommit of Tracker.java is creating lot of performance overheads. I find the logic to be wrong in these methods. There is no need to traverse files in a directory and check whether it is pertaining to a requir

[2015-07-12 11:17] gayathery commented on #148
i checked it, the basic functionality is not working. first of all there is problem in maven building,. because visiblefiletraversertest is failing. The list of file are not shown for any requirement and lot of background exceptions are thrown for some cases. there are also problem with file paths.

[2015-07-12 20:15] KatsiarynaK commented on #148
@gayathery thanks for checking.
Actually, I am mot sure how I could check the user story. Of course, I could move any file to a new folder, but I am not sure what affect it would have done on the project.

[2015-07-12 21:11] gayathery commented on #148
@KatsiarynaK i did not actually check the user story, but it actually this branch at its existing state had lot of problems with existing feature itself. so i thought there was no point in checking further

1. maven build was failing because of a test failure
2. i removed the test and then compiled and then checked the feature
3. when requirement is clicked commits are listed but no commit files a

[2015-07-12 21:12] gayathery commented on #113
the actual issue was fixed already. the performance drop again is due to https://github.com/uv48uson/amos-ss15-proj3/issues/155 hence closing this issue

[2015-07-12 21:12] #113 closed

[2015-07-13 09:50] GnuTalux commented on #155
this is something, that I changed in branch "Req-68_link_moved_file".

[2015-07-13 09:53] uv48uson commented on #155
well i dont reallys know how to solve this, due to the fact that i dont even undertand the trackerAdapterWorker(indexer). Anyone the new logic Taleh wrote should be a lot faster than the one from last release.

[2015-07-13 10:48] gayathery commented on #155
@GnuTalux  i saw that you have done some improvements in your branch, but then i saw that some features were not working in your branch. i dont know why but those are the problems i had listed above

@uv48uson regarding trackeradapterworker it is just a wrapper for trackeradapter. with indexing functionality. as long as tracker adapter is working fine, trackeradapterworker will also work fine. if

[2015-07-13 11:08] gayathery commented on #155
@GnuTalux if you can merge the improvement part of these methods to master, we can test it out. if there are no problems in the feature and if we find improvement in the performance then we can keep it or we can revert it...what do you say?

[2015-07-13 11:13] GnuTalux commented on #155
The main problem, why nearly nothing worked on your machine, was windows and unix-style paths.
Path class uses the system-depended paths. that mean on my machine its "/" on yours "\".
As I found out, jgit uses internally unix-style paths. that means, the FilePathFilter worked for me and not for you.

Floh and I fixed it...

[2015-07-13 11:16] uv48uson commented on #155
regarding the fact, that some commit disappear if u click on a file: I thought that this is a feature. So that only these commits are shown anymore, that touched the selected file

[2015-07-13 11:16] GnuTalux commented on #155
the current logic for getFilesBy... is currently the correct way and it will work.
The scaling problem won't be fixed asap.
And after wednesday the project is dead. Therefore no need to care about that ;-)

[2015-07-13 11:19] GnuTalux commented on #148
now it should work.

floh and I checked it ;-)

[2015-07-13 11:35] #148 closed

[2015-07-13 11:36] GnuTalux commented on #155
Req-68 is merget with master.

[2015-07-13 11:36] GnuTalux commented on #127
I think, that this could be solved now

[2015-07-13 12:03] gayathery commented on #155
@GnuTalux  @uv48uson other than the scalability issue the application works fine. . Good work. I was a little afraid whether it would spoil some features. Now we will get set ready for demo...

[2015-07-13 12:06] gayathery opened #156 "Project Documentation"
Hosted a GitHub page for our documentation. Link to the site : http://uv48uson.github.io/amos-ss15-proj3/

I have already added
- Video Manual for application usage
- Bill of Material
- Class and Package Details Document
- Yet to link User Manual   ( from @KatsiarynaK  )

Please add  the rest of the documents in the https://github.com/uv48uson/amos-ss15-proj3/tree/master/artifacts/Docs
Finally, I

[2015-07-13 12:29] gayathery commented on #155
@GnuTalux @uv48uson one issue...when requirements are clicked for the first time it is slow and after that it is fast...this is fine but when i click a commit it takes a long time to show the file at any point in time (first or second or any clicks). Is it possible to improve the performance here..because it is really taking a lot of time

[2015-07-13 12:33] gayathery commented on #155
@GnuTalux @uv48uson can you fix this performance problem? this would be nice, otherwise it will be not nice for showing it in demo if it takes this much time for each commit

[2015-07-13 13:12] gayathery commented on #155
@GnuTalux @uv48uson Eclipse plugin is not working after the last commits.

When i now install eclipse plugin and when i open a file in the eclipse IDE i could see no information about the requirements. I think something in the commit had collapsed the plugin functionality.

[2015-07-13 13:22] gayathery commented on #155
ignore my previous comment. there was some hibernate process which was not shut down and it had thrown some exception in the background. now when i restart, it is working fine. i dont know why  the hibernate process was not closed

[2015-07-13 13:56] TPolzer commented on #79
Actually fixed for quite some time.

[2015-07-13 13:56] #79 closed

[2015-07-13 14:01] TPolzer commented on #63
Closing, since the csv file does not exist anymore.

[2015-07-13 14:01] #63 closed

[2015-07-13 14:01] #10 closed

[2015-07-13 14:02] #74 closed

[2015-07-13 14:05] TPolzer commented on #133
I all occurrences of this are fixed, closing.

[2015-07-13 14:05] #133 closed

[2015-07-13 14:13] TPolzer commented on #128
For me this is still not working (and the error messages are erratic, sometimes empty, once pretending success while failing). Did you anybody actually test this?

[2015-07-13 14:14] #127 closed

[2015-07-13 14:15] TPolzer commented on #122
Should be solved by now.

[2015-07-13 14:15] #122 closed

[2015-07-13 14:16] #119 closed

[2015-07-13 14:18] #116 closed

[2015-07-13 14:19] #105 closed

[2015-07-13 14:19] #97 closed

[2015-07-13 14:19] #92 closed

[2015-07-13 14:22] TPolzer commented on #91
This is kind of fixed. While there are now commits for every file, the logic behind it is very simple, so it does not detect any moved files. Closing, as we have enough other issues to work out until release.

[2015-07-13 14:22] #91 closed

[2015-07-13 14:22] #80 closed

[2015-07-13 14:22] #78 closed

[2015-07-13 16:06] TPolzer opened #157 "Broken hashCode method in `Requirement` class breaks Hibernate"
After starting our application I just got the following backtrace:
[code]
And no information was fetched from database anymore.

[2015-07-13 16:17] TPolzer commented on #156
This is not how github pages are intended to be used. This leads to interesting artifacts, like issues only being considered closed if their fixing commit gets merged into the gh-pages branch.

Furthermore, code documentation should really be generated automatically, not the html put under version control.

[2015-07-13 16:19] #157 closed

[2015-07-13 16:21] TPolzer commented on #157
The cause for this were automatically inserted requirements with NULL storypoints.

[2015-07-13 16:27] TPolzer commented on #128
I have looked further into this at the pattern seems to be that the first insertion (for one requirement) always fails with an empty error message, and the second one succeeds. Previously I also encountered cases where it tried to insert a requirement a second time (the database of course rejects that), but I think that those were solved with #157 (but not 100% sure).

[2015-07-13 16:29] TPolzer commented on #156
@uv48uson can you set the default branch back to master?

[2015-07-13 16:50] uv48uson commented on #156
ähm, well im a little confused. Should i?

[2015-07-13 16:58] gayathery commented on #156
if default branch is changed the web site wont work. you can see the documentation in https://pages.github.com/ and this is meant by gihub to keep the gh-pages along with the project.

[2015-07-13 17:01] gayathery commented on #156
one sample example where they keep the doxygen generated documentation in gh-pages is https://github.com/m-a-d-n-e-s-s/madness/issues/104
there are so many git hub projects hosting like this.

[2015-07-13 17:07] uv48uson commented on #156
well. so that's a no, i guess!? @TPolzer any objections

[2015-07-13 17:08] gayathery commented on #156
thats a no from my side. we had already finished with the project from our side and 'closing issues' is just a minor issue

[2015-07-13 18:26] TPolzer commented on #156
@gayathery if you had read the documentation you would know that it does not have to be the default branch.

[2015-07-13 18:27] TPolzer commented on #156
But of course at this point it really is of no importance anymore, I agree

[2015-07-13 18:43] gayathery commented on #156
@uv48uson please check that if you change the default branch to master, the website is working, if the website is working then you can keep the default to master itself

[2015-07-13 18:48] gayathery commented on #156
@uv48uson i already checked it for one of my personal repository and having master as default branch is working. so please change it.. Thanks @TPolzer

[2015-07-13 18:50] uv48uson commented on #156
seems like. so i keep master as default now

[2015-07-13 18:58] gayathery commented on #156
This issue is an issue to reference for documentation

[2015-07-13 20:03] GnuTalux commented on #155
ok, I will try :)

[2015-07-13 20:13] #128 closed

[2015-07-14 04:12] #156 closed

[2015-07-14 08:23] yadimon opened #158 "please drop database and remove this issue."
our DB doesnt work anymore. Cant drop it from here.
i think over cource console, you can reset it.
(need schema traceability! or modify hibernate.cfg.xml)

[2015-07-14 08:48] TPolzer commented on #158
Do we have an easy way to recreate the database after dropping?

And what did you do to wreck it so completely??

[2015-07-14 08:52] td5r commented on #158
O.o ... is nothing more working?
I started the app and clicked on configure and it doesn't response anymore ^^

[2015-07-14 08:55] TPolzer commented on #158
The database does not respond anymore to most queries.

[2015-07-14 09:16] gayathery commented on #158
Hold on let me check what is the problem

[2015-07-14 09:33] gayathery commented on #158
The database hangs couple of times . What i could see quickly is some one created a new table and all over the main requirement table and its mappings the data is corrupt.

[2015-07-14 09:59] TPolzer commented on #158
There were several open hanging transactions, the data is actually fine. I killed all the transactions, now it works again.

[2015-07-14 10:01] gayathery commented on #158
I have deleted the corrupt data by the way.
On 14 Jul 2015 11:59, "TPolzer" notifications@github.com wrote:

[2015-07-14 10:02] TPolzer commented on #158
By corrupt data you mean the requirements with null and -1 attributes? They have been there for about 1 week.

Edit: And the null fields will occur again after adding linkage to unknown requirements.

[2015-07-14 10:03] #158 closed, assigned to nobody

[2015-07-14 10:05] gayathery commented on #158
So why is this last minute major changes happening now

[2015-07-14 10:09] TPolzer commented on #158
To fulfill user story 49 I guess...

[2015-07-14 10:18] TPolzer opened #159 "User story 49 ready?"
So @yadimon, I can see that you worked on a branch but did not merge. Is this ready for release or not?

[2015-07-14 10:51] TPolzer commented on #159
After some superficial testing and discussion with @akaTJ we have come to the conclusion that the added value (being able to remove linkage) is not worth the ~20% performance loss (measured from application startup to displaying files for Req-70) and the risk of nearly untested code.

I will leave it unmerged for the final release.

[2015-07-14 10:51] #159 closed, assigned to nobody